[2012-06-10 17:02] joeyates opened #1 "Handle Other IMAP Servers"
Currenly, GMail server address is hard-coded.
Get IMAP configuration from the config file.

[2012-06-10 17:04] joeyates opened #2 "Offer GPG encryption"
If a GPG public key ID is supplied, encrypt files with it.

[2012-06-10 17:05] joeyates opened #3 "Do Folder Name Mapping"
Allow folder nicknames in the configuration.

E.g.

[code]

[2012-06-10 17:15] joeyates opened #4 "Do Incremental Backup"
Compare online message uids and on disk files to decide which messages to download.

[2012-06-12 09:54] #4 closed, assigned to joeyates

[2012-06-12 09:54] joeyates opened #5 "Offer Backup to Another IMAP Server"

[2012-06-12 09:56] joeyates opened #6 "Add a Setup Method"
The method would be:

[code]

It would:
- create the config directory,
- create the config file,
- set permissions
- add/remove accounts
- list/add/remove backup folders

[2012-06-12 10:06] joeyates opened #7 "Restore"
Full restore:

[code]

Single account:

[code]

Restore messages with a list of
- uids:

  $ imap-backup restore --accounts=me@example.com folder1 2345,2347
- or ranges of uids:

  $ imap-backup restore --accounts=me@example.com folder1 123-456
- or mixed:

  $ imap-backup restore --accounts=me@example.com folder1 2345,123-456

[2012-06-12 10:11] joeyates opened #8 "List Messages"
List messages (uid only):

[code]

Show subject:

[code]

[2013-01-06 14:49] joeyates opened #10 "Offer mbox as a Serialization Format"
Currenly, backups are made as JSON files.
Switch backup mbox.

[2013-01-08 12:20] #10 closed, assigned to joeyates

[2013-01-10 17:13] #6 closed, assigned to joeyates

[2013-01-10 17:14] #1 closed, assigned to joeyates

[2013-01-10 17:15] joeyates opened #11 "Error During Setup"
lib/imap/backup/configuration/setup.rb:48:in `add_account': private method`path' called for #Imap::Backup::Configuration::Store:0x00000002afc2b8 (NoMethodError)

[2013-01-10 17:22] #11 closed, assigned to joeyates

[2013-02-09 23:14] joeyates opened #12 "Crashes if backed-up folder is deleted from email account"

[2013-02-10 12:08] #12 closed, assigned to nobody

[2013-12-10 16:13] mattmcmanus opened #13 "Errors when trying to get folder list"
During Setup, when I go to choose a folder, I get the following errors when trying to get a folder list:

https://gist.github.com/mattmcmanus/7892572

This is a fastmail.fm email account. I went ahead and added the server and the test connection command in setup says that it was able to establish a connection.

I tried to debug a little bit but my ruby-foo but didn't make much progress.

Tried wit

[2013-12-19 16:56] #13 closed, assigned to nobody

[2014-03-27 03:53] wjimenez5271 opened #14 "Accept google apps accounts"
I tried to use this with a google apps email and it was not able to download folders

[2014-03-27 08:26] #14 closed, assigned to nobody

[2014-05-06 18:09] #5 closed, assigned to joeyates

[2014-05-10 16:37] martinjuhasz opened #15 "cannot backup to existing folders created in finder"
[code]

folders created using finder do have 755 permissions. probably you should allow this setting by default.

[2014-05-10 18:36] martinjuhasz opened #16 "error while trying to backup"
got this error while importing, did fine some minutes, then crashed with this:

[code]

[2014-05-12 12:41] #15 closed, assigned to nobody

[2014-05-15 14:16] #16 closed, assigned to nobody

[2014-08-15 15:50] aaronwolen opened #17 "Error during initial backup"
Ran into the following error during my initial backup. It ran fine for about 10 minutes.

[code]

[2014-08-20 17:02] #17 closed, assigned to nobody

[2014-08-26 16:41] joeyates opened #18 "Include metadata in imap file"
- file version
- imap id: if this changes, the folder has been deleted and recreated

[2014-08-31 19:33] root-io opened #19 "Automatically backup all folders"
It should be cool to add the possibility to backup all folders of an IMAP account by default

[2014-08-31 19:34] root-io opened #20 "Choose backup folders setup option do nothing"
[code]

[2014-08-31 19:44] root-io opened #21 "Failed to save message"
W, [2014-08-31T13:17:19.861508 #5418]  WARN -- : Failed to save message 30702:

. undefined method `asctime' for nil:NilClass

[2014-12-12 14:26] #21 closed, assigned to nobody

[2014-12-12 14:53] #19 closed, assigned to nobody

[2014-12-12 15:00] joeyates opened #22 "Automatically save changes during setup"
Currently, the user has to specifically choose the top-level 'save' option

[2014-12-12 16:38] #22 closed, assigned to nobody

[2014-12-14 10:32] tomsquest opened #23 "Crash when no folder defined in configuration"
The application crashes when no folder defined in the configuration.

imap-backup-1.0.14/lib/imap/backup/account/connection.rb:69:in `backup_folders': undefined method`map' for nil:NilClass (NoMethodError)

[2014-12-14 10:35] tomsquest opened #24 "Show message during backup"
When running, it would be nice if message could be printed.
Currently, there is no log, no output.

[2014-12-14 22:29] #23 closed, assigned to nobody

[2014-12-14 22:30] #24 closed, assigned to nobody

[2015-01-22 08:39] leth opened #25 "Setup crashes unless config file already exists"
Gem version 1.0.15
[code]

[2015-02-05 10:18] trimtab613 opened #26 ""Failed to save message" and hangs"
I am downloading a folder of email from an inbox.com account, and the script has run beautifully for almost 4GB of data but now it is stuck on a couple messages. I enabled debugging in the config file and ran it again to see why.

It prints `Failed to save message` due to `undefined method `[]' for nil:NilClass`. The script doesn't crash but remains running with no output.

[2015-02-05 10:42] joeyates commented on #26
Thanks for the report.

Could you confirm that you are using the latest version (1.0.15)?

[2015-02-12 12:00] trimtab613 commented on #26
I think so.

[code]

[2015-02-12 12:02] trimtab613 commented on #26
The last few times I've tried to finish downloading that folder, I get a different behaviour: no output whatsoever. When I use Ctrl-C to give up, it always dies with the following trace.

[code]

[2015-02-12 17:34] joeyates commented on #26
It looks like debug log output is not helping.
I've released version 1.0.16 with progressive logging during backup.
Could you update and check what it says?

[2015-02-14 12:49] joeyates commented on #20
I'm closing this issue as it has been inactive for 2 months.

[2015-02-14 12:49] #20 closed

[2015-02-14 12:59] joeyates commented on #25
Hello,

Thanks for the bug report.

I've released version 1.0.17 that fixes this.

[2015-02-14 12:59] #25 closed

[2015-02-17 04:54] trimtab613 commented on #26
I like the new debug details!

[code]

Something changed for the better because hundreds more emails are now downloaded without problems. The odd one still fails (as before) but I honestly don't care about them. Here's one for kicks:

[code]

In the end the program terminated with the following:

[code]

When I restart the program, it gets past the place it had died. All in all, these are minor hi

[2015-02-17 04:54] #26 closed

[2015-02-21 06:15] steowens opened #27 "Imap-backup"
Unable to get folders list.  it doesn't work with godaddy accounts.  It can't get the folders list.

[2015-02-21 14:41] joeyates commented on #27
Hello.

Unfortunately, I don't have configuration info for GoDaddy.

To get this working, you'll need to set the 'server' entry for GoDaddy's email servers in `imap-backup setup`. Once you've done that, try 'test connection'.

If that works, great - send me the server entry and I will add it to the list of known configurations.

If it doesn't work, you'll need to edit ~/.imap-backup/config.json an

[2015-02-24 22:23] steowens commented on #27
{
  "accounts": [
    {
      "username": "xxx@xxx.com",
      "password": "xxxxxxxxxx",
      "local_path": "/Users/xxxxxx/.imap-backup/xxx_xxx.com",
      "folders": [
          {"name": "inbox"},
          {"name": "INBOX"},
          {"name": "Sent Items"}
      ],
      "server": "imap.secureserver.net"
    }
  ],
  "debug": true
}

[2015-02-24 22:25] steowens commented on #27
You don't do anything to throttle do you?  I am noticing it takes exactly 36 seconds per email message to download.  Godaddy swears up and down that they are  not throttling on their end, in spite of the fact that traceroutes get hung up inside their domain.

[2015-02-25 08:53] joeyates commented on #27
No, imap-backup does not do any throttling.

If it's downloading with the config you posted, then GoDaddy is using port 993 over SSL. The problem is that GD handles a myriad of domains, so I can't really add auto setup.

[2015-02-25 08:54] joeyates commented on #27
I'll close this issue as it looks like the connection is now working.

[2015-02-25 08:54] #27 closed

[2015-02-25 22:27] steowens commented on #27
Is there any way to get increased logging to detail the timing of the messaging going back and forth?  The logging provided is not as informative as it could be.

[2015-02-25 22:45] joeyates commented on #27
Currently, with debug logging enabled, you get a timestamp when each message download completes along with the number of bytes in the message body. I think that should be enough for most people's use.

If you need more detailed information, I think this could be dealt with in two ways:
* you could use the existing version, but monitor the "shape" of network traffic via wireshark or other similar n

[2015-02-26 00:27] steowens commented on #27
Unfortunately my Ruby foo is not that good.  I would probably screw up your code base.

[2015-03-30 15:35] jeffhawke opened #29 "base folder is created with wrong permissions and never changed"
If the base folder does not exist and the umask is not set correctly, the Utils.make_folder creates it but does not set the permissions and the program then crashes when the permissions are checked later.

A line need to be added just before the parts.each loop at line 28 of utils.rb:

FileUtils.chmod permissions, path

This correctly sets the pemissions for the base folder.

[2015-11-03 10:10] #29 closed

[2015-11-03 10:15] joeyates commented on #29
`imap-backup` only "lays claim" to the directory containing config and backup directories, so I resolved this in a different way to the one you suggested.
The config path should be the highest level directory that `imap-backup` creates and/or manages in terms of permissions. If *that* directory does not exist, it is created and the correct permissions are set. If the containing directory does not

[2016-04-23 13:02] swarzynski opened #31 ""Hostname does not match the server certificate" error"
Hi, I have mailbox on my mydomain.nazwa.pl provider server which I bought.
Adress is a.swarzynski@mydomain.nazwa.pl.
When I try test connection I get:

[code]

Thunderbird at account configuration also complained about certificate at first but I added exception (button in Thunderbird) and it worked.
Is it possible to bypass this error?

[2016-04-23 14:33] joeyates commented on #31
I've created a branch 'feature/connection-overrides' with code which allows SSL configuration to be manually added to the config file.

If you can help me debug this:
1. check out the source code,
2. switch to the 'feature/connection-overrides' branch,
3. modify your `~/.imap-backup/config.json` following the 'Connection options' section in the README,
4. try running the connection test from the C

[2016-05-05 01:53] victorhooi opened #32 "Outlook.com - Unable to get folder list for account"
I've added an outlook.com account to imap-backup.

However, when I attempt to run the backup, I get an error message:

[code]

In setup, if I use "test connection", I get:

[code]

However, if I try to use 5. choose backup folders, I get:
[code]

[2016-05-05 09:29] joeyates commented on #32
Thanks for the report.

It looks like '/' is not the correct root folder for hotmail.com IMAP.
I'll look into the problem.

[2016-05-06 13:38] joeyates commented on #32
I've modified the way yhat the folder list is obtained. It should now work for you with Outlook.com.
You'll need to update to the v1.1.0 release.

[2016-05-06 13:38] #32 closed

[2016-10-16 05:06] AntonTrapp opened #33 "Backup only to ~/.imap-backup possible"
The program is working fine as long as I do not set a custom path.

Any other path (no matter if edited in the config file or via setup and menus is completely ignored, the mail-directories to backup are created in ~/.imap-backup and after that the program freezes. If interrupted it shows the following:

`/usr/local/rvm/rubies/ruby-2.3.0/lib/ruby/2.3.0/monitor.rb:111:in`sleep': Interrupt
    from

[2016-10-18 16:53] joeyates commented on #33
Thanks for the bug report.

1. Could you confirm that your connection definitely works:
[code]
then choose the account from the menu,
then 'test connection'.

2. Could you anonymize your config file (~/.imap-backup/config.json) and send it to me (the best way is via a private Gist)?
3. Also, please try turning on debugging (add `"debug": true` to your config as indicated in the README) and send me

[2016-10-18 17:04] joeyates commented on #33
Thanks for the bug report.

I've been able to replicate the problem. I'll let you know when it's fixed.

[2016-10-18 17:19] AntonTrapp commented on #33
Happy that I can help. Using it with standard directory in my mail backup script at the moment. Really awesome! TNX for this tool!!!

[2017-01-28 03:21] jvanasco opened #34 "failures are silent when they should be noisy, and don't catch an obvious error"
First off a HUGE thank-you. My provider just decided that their "unlimited" policy would now be "incredibly limited" and gave me 48hours notice that they're deleting my entire email account... of 17 years.  Your package is letting me clone to my linode 10x faster than into my home.

The errors I encountered happened when I set `imap-backup` to archive to a custom location    (it's a mounted partit

[2017-01-28 20:42] joeyates commented on #34
Thanks for opening the issue, I agree with the points you raise.

I'll have a look at this asap.

[2017-02-20 06:27] AntonTrapp opened #35 "Worked perfect... until some days ago... (get_tagged_response EOFError)"
Hi!

First: thank you for this great gem. Installed it, worked like a charm (with 1 bug, can live with that).

A few days ago it started to do this:

[code]

rvm, ruby, gem ... nothing changed.

Since then: not a single backup is working any more :(

Any ideas?

Please feel free to contact me if I can help in any way (additional testing, more data, ...).

Thank you very much in advance!

[2017-03-26 10:01] stephenostermiller opened #36 "Backup all folders"
The only part of this software that I don't like is that I have have to mark each folder that I want backed up.   If I create a new folder I'll have to go in and mark it for backup.   I want it to backup ALL the folders, even when I add new ones.

Even better would be an option for all folders with an exception list.

[2017-06-05 22:13] rodrigoaguilera commented on #7
Is not very clear on the readme how to do a restore

[2017-06-19 08:20] mensfeld opened #37 "Is it still alive?"
Is this gem still maintained?

[2017-06-19 20:07] joeyates commented on #37
Yes. There's a slight backlog of issues, but the gem **is** maintained.

[2017-06-19 20:07] #37 closed

[2017-06-19 20:07] mensfeld commented on #37
Thank you <3 Sorry for disturbance.

[2017-08-16 11:23] flungo opened #38 "Email validation does not allow gTLDs"
The email validation used when running the interactive setup considers emails which use gTLDs to be invalid. To reproduce, try adding an account with the email `example@example.solutions` which should be a completely valid email address but gets the error:

Manually adding the account to the configuration works exactly as expected.

[2017-08-16 12:03] joeyates commented on #38
Thanks for letting me know. I'll have a look asap.

[2017-08-20 09:02] joeyates commented on #38
This is fixed in d2e1fb0a33b4a5b84a6527def6af3880a2ddc4d5
I've released version 1.2.0 with the fix.

[2017-08-20 09:02] #38 closed

[2017-08-20 09:05] joeyates commented on #35
Hello Anton,

Are you still getting the same error?
If so, please turn on logging and copy the output to a secret Gist and share that with me. (You may need to anonymize some stuff first).

[2017-08-20 09:29] joeyates commented on #33
This is fixed in f48b9b6564c3692dd6205f3ef4b474c814624cea
I've released version 1.2.1 with the fix.

[2017-08-20 09:29] #33 closed

[2017-08-20 09:31] joeyates commented on #31
Closing due to lack of response.
Please reopen is you want to try debugging the issue.

[2017-08-20 09:31] #31 closed

[2017-08-20 09:34] joeyates commented on #34
I've released an update which handles directory creation in more or less the way you outline in (1).
So, I believe the issue is now fixed.

[2017-08-20 09:34] #34 closed

[2017-08-20 09:38] joeyates commented on #36
I'd welcome a PR for this :-)
I suppose a "select all" option in the config menu would work.

[2017-08-20 09:38] #36 closed

[2017-08-21 06:22] AntonTrapp commented on #35
Hi.

Thank you for your answer. Since I needed some backups in the last months I had to try other ways. So I am no longer using imap-backup.

[2017-08-21 06:30] #35 closed

[2017-10-24 07:43] grodansparadis opened #39 "All folders"
Is there a way to select "all folders" in the setup. Hard to select each subfolder if you have +300 folders as I have.

[2017-11-05 09:14] joeyates commented on #39
Hello,

"All folders" certainly makes sense as an option.

I'll have a look at how much work would be involved.

As a stopgap, if it's a GMail account, you obviously get a copy of everything with 'All Mail' - but, clearly you lose all filtering and manual sorting you've done.

[2017-11-05 09:33] #39 closed

[2017-12-11 11:33] acashley opened #40 "Backing up Calendar folder or invite mails crashes script"
When backing up the Calendar folder or any individual Calendar invite/reply mails in the Inbox, the script crashes. The mailbox in question is an Office 365 mailbox.

Trace example from [Sent Items] folder as follows:

W, [2017-12-11T12:48:05.459451 #15793]  WARN -- : [Sent Items] failed to save message 40531:
Date: Fri, 07 Jul 2017 10:42:18 +0200
Subject: Accepted:Monthly Meeting
To: yyy.xxx@xyz.

[2017-12-16 22:07] joeyates commented on #40
Thanks for the bug report - I'll look into it and get back to you.

[2017-12-20 01:05] Tom-Jojo opened #41 "How do I run this as a cronjob ?"
Hi,
This works great via SSH, but I cannot get I working via the Synology Task Scheduler (cron job). I get all sorts of errors.

Brgds/Tom

[2017-12-24 10:19] joeyates commented on #41
Hi Tom,

Could you send me the errors you get?

Make sure you remove any sensitive info from the data.

Merry Christmas!

[2017-12-29 19:14] Tom-Jojo commented on #41
Hi,

It generates the following error when run by the Synology task scheduler:
`Standard output/error:
/usr/lib/ruby/gems/2.4.0/gems/imap-backup-1.2.1/lib/imap/backup/configuration/store.rb:9:in `expand_path': couldn't find login name -- expanding `~' (ArgumentError)
	from /usr/lib/ruby/gems/2.4.0/gems/imap-backup-1.2.1/lib/imap/backup/configuration/store.rb:9:in `<class:Store>'
	from /usr/lib/rub

[2018-01-26 05:52] dolik-rce opened #42 "undefined method `[]' for nil:NilClass"
Hi,

I have two messages in my inbox, which imap-backup fails to backup, with the message stated in the title. This migt be related to #40, but in my case those are regular messages, not invites.

Also, none of the invites in my Calendar folder are synced, but there is no error message. The gem just dies with exit code 1.

[2018-01-26 05:54] dolik-rce commented on #42
Here is a slightly annonymized log: https://pastebin.com/raw/UNH7SVkS

[2018-02-24 22:52] brianherman opened #43 "Extra Steps For Gmail"
For gmail you should put these extra steps:
Disable 2 factor authentication
Allow insecure apps.

[2018-02-26 10:12] acashley commented on #40
Just following up on this one to see if there is any progress? Thanks!

[2018-03-04 21:28] lemonetweb opened #44 "E0FError"
Hi,

I have a error:
https://pastebin.com/EFaz7Bd1

Would you know how to fix it?
Thanks.

[2018-03-19 05:17] a-krebs opened #46 "undefined method `+' for nil:NilClass"
I have a message that cannot be saved. A minimal example that reproduces the error looks like the log output below:

[code]

[2018-03-19 05:17] a-krebs commented on #46
I have a unit test to demonstrate the issue and will open a pull request with a fix soon. Wanted to open the issue for completeness.

[2018-03-19 10:17] deconya opened #49 "`next_token': undefined method `dump' for nil:NilClass (NoMethodError)"
Hi

Im testing in my own server and I receive this error
/home/user/.rvm/rubies/ruby-2.4.0/lib/ruby/2.4.0/net/imap.rb:3334:in `next_token': undefined method `dump' for nil:NilClass (NoMethodError)
	from /home/user/.rvm/rubies/ruby-2.4.0/lib/ruby/2.4.0/net/imap.rb:3279:in `lookahead'
	from /home/user/.rvm/rubies/ruby-2.4.0/lib/ruby/2.4.0/net/imap.rb:2285:in `msg_att'
	from /home/user/.rvm/rubies/ru

[2018-05-01 19:05] apographon opened #50 "chmod Problem"
Hi, I tried to run imap-backup on my synology.
Everything worked fine - until I chwon'ed the backup directory.
}admin@Server:~/.imap-backup$ imap-backup
/usr/lib/ruby/2.4.0/fileutils.rb:1241:in `chmod': Operation not permitted @ chmod_internal - /volume2/web/imapbackup/oliver_statera.de (Errno::EPERM)
	from /usr/lib/ruby/2.4.0/fileutils.rb:1241:in `chmod'
	from /usr/lib/ruby/2.4.0/fileutils.rb:919

[2018-05-01 19:25] apographon opened #51 "all folders feature?"
Any chance to use a wildcard for the folders to use "all folders" instead selecting every single folder? I have some accounts with more than 100 folders. Even new folders do not get backuped automatically.

[2018-05-12 18:16] joeyates commented on #7
I'm afraid the implementation of the restore functionality (in a branch) is stalled at a pre-alpha phase.

[2018-05-12 18:16] #2 closed

[2018-05-12 18:16] #3 closed

[2018-05-12 18:16] #8 closed

[2018-05-12 18:16] #18 closed

[2018-05-13 17:37] joeyates commented on #51
Hi there.

By default, all folders are backed up (see https://github.com/joeyates/imap-backup#folders).

[2018-05-13 17:37] #51 closed

[2018-05-13 17:42] joeyates commented on #50
The permissions should be set as indicated here: https://github.com/joeyates/imap-backup#security . The directory containing the configuration should have permissions set to only allow acces to your user (0700).

[2018-05-13 17:45] joeyates commented on #41
It looks like `HOME` environment variable is not set. Is there some way you can set that variable?

[2018-05-13 18:05] joeyates commented on #43
Hello.

Are you sure 2-factor authentication needs to be disabled? It's enabled on my account, and I'm able to run backup.

[2018-05-13 18:10] joeyates commented on #44
Hello,

It looks like your email server is responding in an unexpected way.
Are you still getting this error?

[2018-05-13 18:14] joeyates commented on #49
Hello.

Could you give me some more info about your setup?

[2018-05-13 19:59] joeyates commented on #42
Thanks for the log dump.

I'm unable to see why those messages are causing problems.

In the meantime, I've released version 1.2.2 with (#48) and better handling of failed server responses.
Could you check if you get a more informative log from that?

[2018-05-13 20:00] joeyates commented on #40
I've released an updated version: 1.2.2, with better logging on failures.
Could you see if that helps pinpoint the problem?

[2018-05-14 11:33] dolik-rce commented on #42
Hi, I have updated to 1.2.2 and updated the gist. Hopefully the traceback will help you to pinpoint what is the problem...

[2018-05-24 07:00] fliespl opened #52 "`fetch': undefined method `force_encoding' for nil:NilClass (NoMethodError)"
[code]

[2018-05-31 10:32] acashley commented on #40
Pulled the updated code and re-ran the job. So far I haven't been able to reproduce this issue.
Not sure if it is successful now because the offending Calendar appointment no longer exists or something else has changed. Lets hope that is the end of it...

[2018-05-31 11:59] btxtiger commented on #7
What is the state of the branch?
I really need a tool to move a lot of email accounts to a new hosting provider.
imap-backup worked well doing the backups.  I'm not really experienced with ruby, but if I get it running restoring the backups it will suffice my demands

[2018-06-04 18:30] Tom-Jojo commented on #41
Hi,
I have up at the time, but did not find another working solution.
I reinstalled Ruby and imap-backup today. It works fine now without any additional settings.

Thank you
/Tom

[2018-06-04 18:30] #41 closed

[2018-08-12 09:49] joeyates commented on #40
I'll close for now.

Please reopen if you get the error again. Also, in that case, please post a sanitized log of the failure.

[2018-08-12 09:49] #40 closed

[2018-08-12 09:50] joeyates commented on #46
Closing in favour of #46

[2018-08-12 09:50] #46 closed

[2018-08-12 09:50] joeyates commented on #44
Closing due to inactivity.

[2018-08-12 09:50] #44 closed

[2018-08-12 09:52] joeyates commented on #49
Closing due to inactivity. Please feel free to reopen and add a sanitized log of the problem.

[2018-08-12 09:52] #49 closed

[2018-08-12 09:52] #50 closed

[2018-08-12 10:09] joeyates commented on #52
@fliespl I see you're accessing an email account which has calendar entries.

In order to resolve the problem, I'd like to understand a bit more about your setup.

1. Is the Calendar a Google Calendar?
2. How did you set up the connection between the calendar and your email account.

[2018-08-12 10:10] joeyates commented on #43
Closing due to inactivity.

[2018-08-12 10:10] #43 closed

[2018-08-12 10:14] joeyates commented on #42
@dolik-rce The Gist is still the original (21/1/2018 with version 1.2.1). Could you post a link to the updated Gist?

[2018-08-13 12:11] joeyates commented on #52
OK, thanks for the info. Closing.

[2018-08-13 12:11] #52 closed

[2018-08-14 05:12] dolik-rce commented on #42
My apologies, I totally forgot about that. I have updated to the 1.2.2 from gem and updated the original gist.

[2018-08-14 15:33] joeyates commented on #42
@dolik-rce I'm still seeing the original log here: https://pastebin.com/raw/UNH7SVkS

Have you creted a new pastebin?

[2018-08-14 18:04] dolik-rce commented on #42
No, I have updated the secret gist. Also, I sent the url to your email again just a minute ago, just to make sure.

[2018-08-15 05:48] dolik-rce commented on #42
Yes, 1.3.0 works without errors. Thank you for the fix!

[2018-08-15 05:48] #42 closed

[2018-09-02 08:40] joeyates commented on #7
Restore is now merged in master.

[2018-09-02 08:40] #7 closed

[2018-09-11 02:49] johnnyutahh opened #53 "What does imap-backup do that similar, alternative software solutions can not?"
What can imap-backup do (now and in the near future) that similar, alternative software solutions can not -- can someone provide a concise list of impactful, differentiating features?

https://github.com/joeyates/imap-backup#similar-software

(An aside: I just tried installed imap-backup, and in the first few mins of usage, I love the easy of installation and the style of user interaction. Also: I

[2018-09-11 02:53] johnnyutahh opened #54 "Maildir storage in the future?"
Is there any plans to support a Maildir format in the future?

(I did a quick search of existing issues and could not find similar info, apologies if I missed something.)

[2018-09-11 02:55] johnnyutahh opened #55 "Future feature (?): avoid storing password in clear text"
Is there any intent to provide a future feature to not store the IMAP account password in cleartext (currently in config.json file)?

(I did a quick search of existing issues and could not find similar issue, apologies if I missed something.)

[2018-09-11 18:02] johnnyutahh opened #56 "mbox_store.rb:62:in `gsub': invalid byte sequence in UTF-8 (ArgumentError)"
gist of session output: https://goo.gl/X7iHCy

Also, I could probably wrangle with gem to fix the --version error, but I don't have the time resources right now.  --version was working just a couple mins ago, before it started failing (per the above gist):

[code]

[2018-10-04 16:54] sudofox opened #57 "imap.gmail.com - possible SNI issue?"
I decided to try imap-backup, but when I went to perform a backup on a G Suite account (via imap.gmail.com):

    Unexpected error: SSL_connect returned=1 errno=0 state=error: certificate verify failed (self signed certificate)

This may be related to the following: https://bugzilla.redhat.com/show_bug.cgi?id=1611815

Can you confirm/reproduce? I'm on Arch Linux (4.18.7-arch1-1-ARCH).

[2018-10-10 08:28] markusloffler opened #58 "Exclude "All Messages" folder on GMail"
I tried imap-backup and so far it works great for me. However, there is one thing: For my Gmail account, all messages are backed up twice, once for each label I sorted the messages in, and once for "All messages". Is there a way to exclude "All messages" from backup?

[2018-10-10 13:45] sudofox commented on #57
Sorry for the delayed response.

There's no private information other than my email address in the output, so here:

[code]

[2018-10-10 14:39] joeyates commented on #58
The quick answer is to configure the backup and select which folders you want to back up. Would that be possible in your case?

If you just want to guarantee a single backup of everything, you could *only* back up "All messages". Otherwise, you could select all the *other* folders that you want to back up.

If you'd like to use the second option, but have thousands of folders, then, I agree, it wo

[2018-10-11 10:16] markusloffler commented on #58
Yes, I got many folders to backup. The problem is not primarily to enter all those in the configuration but rather to keep the configuration file updated if you add new folders. And of course, if I only backup "All messages", I loose my folder structure.

I guess I could write  a little script to create or patch the configuration file on the fly, doing a "map-backup folders" and then setup the con

[2018-10-12 08:29] joeyates commented on #55
I think it would be great to not store the password in clear text, but finding and alternative is problematic...

As this is meant to be a standalone system, sooner or later it has to access the password. Where would it be stored and how would access to the store be unlocked?

[2018-10-14 19:24] markusloffler opened #59 "What happens to messages that are deleted on the IMAP server?"
Title says it all... If I just delete messages on my Inbox, they are not removed from from the backup. I guess is the desired behaviour?

[2018-10-15 12:38] joeyates commented on #59
Yes, the backup is "add only".

[2018-10-15 12:38] #59 closed

[2018-10-23 12:02] msbit commented on #57
Out of curiosity, does the output of:

    openssl s_client -connect imap.gmail.com:993 -CAfile /etc/ssl/cert.pem < /dev/null > /dev/null

and:

    openssl s_client -connect imap.gmail.com:993 -servername imap.gmail.com -CAfile /etc/ssl/cert.pem < /dev/null > /dev/null

differ? The first is without SNI and the second with. Your `-CAfile` argument might differ, this is mine under macOS. Under Ubun

[2018-10-23 19:50] sudofox commented on #57
I get the same result for both.

[code]

I tested with a straight gmail address as well, and got the same result as with the G Suite email: self-signed certificate.

[code]

[2018-10-23 21:59] msbit commented on #57
Yep, I took a look at the Fedora issue, but I don't think it applies in this case, for a few reasons:

* it applies to the `fetchmail` program, and `imap-backup` is Ruby all the way down,
* the patch simply adds the SNI extension to the request, and
* `imap.gmail.com` returns the same set of certificates when requested with SNI and without, as shown by the output of OpenSSL on both our machines

I

[2018-11-25 22:50] getconor commented on #57
Been using imap-backup for over a year, recently it started failing with the same error as detailed by OP.

I can confirm that the first method still fails while the second method succeeds.

[2018-11-27 05:27] Sarke opened #60 "Show progress"
Nice tool, but definitely needs to show that at least something is happening.

Counting the number of emails and then showing an ETA would be even better.

[2018-11-27 10:03] joeyates commented on #60
Hi Sarke,

As the tool is intended to be used via cronjobs, by default it is pretty quiet.

You can get progressive output by turning on debugging (see https://github.com/joeyates/imap-backup#troubleshooting).

[2018-12-04 17:29] #60 closed, assigned to nobody

[2018-12-19 02:28] doublerebel opened #61 "unable to backup message that does not contain (parseable?) date"
While backing up an email account, I received an error, probably due to the minutes and seconds in the dates being greater than 60:
[code]
Full error here:
[code]
I don't ruby much, so I fixed it by changing the default date in mail/lib/message.rb from 'nil' to a DateTime:
[`/var/lib/gems/2.3.0/gems/mail-2.7.1/lib/mail/message.rb:621`](https://github.com/mikel/mail/blob/master/lib/mail/message.rb#

[2019-01-04 23:11] nosilver4u opened #62 "does it work for gsuite?"
I just moved my org to Gsuite, and I've been using imap-backup for quite a while with no issues on the old system.
So today I went to update it to pull mail from the live account on Gsuite, and it keeps giving me fits about invalid credentials.
First, I received an email from Google that they had blocked it. Fair enough, I looked at your instructions, enabled 2-factor auth, then generated an App p

[2019-01-05 16:15] joeyates commented on #62
Sorry to hear about the problem.

imap-backup has always worked in the past with GSuite, but things may have changed. Using the app password is what should work.

I'll set it up for a GSuite account and see what I can find out.

[2019-01-05 20:40] #55 closed

[2019-01-05 20:41] #53 closed

[2019-01-05 20:43] joeyates commented on #54
There is not currently an intention to develop Maildir support, but a PR would certainly be welcome - Maildir could then become a (non default) configurable alternative to mbox.

[2019-01-05 20:45] joeyates commented on #56
If you're still getting this issue, please run with debugging enabled PM me an anonymized private Gist of the output.

[2019-01-05 21:33] #61 closed

[2019-01-05 21:34] joeyates commented on #61
I've released 2.0.0rc2 with the fix.

[2019-01-06 15:08] joeyates commented on #57
On a live distro of Arch Linux 4.20, the first script fails. I'll use that to sort out a fix.

[2019-01-07 09:43] paulgessinger commented on #62
For what it's worth, I'm using G Suite, and the backup works without problems. I have 2FA enabled and use an app specific password.

[2019-01-07 16:55] joeyates commented on #62
I think the problem is OS related. Closing in favour of #57

[2019-01-07 16:55] #62 closed

[2019-01-08 09:30] joeyates commented on #57
In order to track down what is causing this, whoever is seeing the issue, please submit the following info:

* operating system + version
* openssl version
* Ruby version
* imap-backup version

[2019-01-08 09:37] joeyates commented on #57
Fails with:

Operating system: Arch Linux 4.20.0-arch1-1-ARCH

openssl:
[code]

Ruby:
[code]

imap-backup:
[code]

[2019-01-08 12:37] joeyates commented on #57
I've released v2.0.0.rc3 with a fix. I'm also creating a maintenance branch for 1.x with a backport.

[2019-01-08 12:50] joeyates commented on #57
I've released v1.4.0 as a maintenance release of the 1.x code including this fix.

[2019-01-08 12:50] joeyates commented on #57
@sudofox Could you check if this solves the original problem?

[2019-01-08 12:56] #54 closed

[2019-01-08 13:09] joeyates commented on #56
Closing. Please reopen if you're able to recover the Email that caused this crash.

[2019-01-08 13:09] #56 closed

[2019-01-08 17:00] nosilver4u commented on #57
Fails with:

Operating system: Debian 9

openssl:
[code]

Ruby:
[code]

imap-backup:
[code]

Ruby openssl version:
[code]

I'll also see if I can update to 1.4.0 and test it out.

[2019-01-08 17:11] nosilver4u commented on #57
Is there any additional configuration I need with 1.4.0? I'm still getting what appears to be the same exact output:
[code]

Also, same output as earlier users when running the openssl commands "verify return:1"

[2019-01-08 19:04] joeyates commented on #57
@nosilver4u have you got a `"connection_options"` entry in your `~/.imap_backup/config`?

If so, please remove that key.

With 1.4.0, this line in your output:

[code]

should have shown this:

[code]

[2019-01-08 19:08] nosilver4u commented on #57
Yeah I am, but I'm going to generate a new one, maybe I messed up the password somehow...
And no I don't have connection_options in my  config. I did once to see if that helped, but it's no longer there.

[2019-01-08 19:15] nosilver4u commented on #57
New password doesn't seem to have changed anything, it's still saying Invalid credentials. I'll reach out to Google and see if they can shed any light on it.

[2019-01-08 19:20] joeyates commented on #57
@nosilver4u According to this article https://support.google.com/mail/answer/7126229?hl=en&visit_id=636825719338260815-2122557143&rd=2#cantsignin you may need to go to the DispayUnlockCapthcha page

[2019-01-08 19:23] nosilver4u commented on #57
Just tried that and it didn't work either, guess I'll just wait to see if their support can provide any insight.

[2019-01-12 16:11] nosilver4u commented on #57
@joeyates I just got this again, so perhaps it is still an SSL vs. TLS issue with my install?
"Google prevented someone from signing in to your account using a non-Google app."
I have it running via cron, obviously it's been failing every day, but today it finally threw this error again, and the IP address it lists is from the server where the cronjob runs.

[2019-02-04 15:09] Keruspe commented on #57
This issue probably fixes this issue without your workaround: https://github.com/ruby/ruby/pull/2077

[2019-02-04 16:05] nosilver4u commented on #57
That's a very good possibility, thanks for mentioning that!

[2019-02-08 16:08] sebastianst commented on #57
Same error on Arch Linux with `imap-backup 1.4.1`, `ruby 2.6.1p33 (2019-01-30 revision 66950)`, `OpenSSL 1.1.1a` and `ruby -ropenssl -e "puts OpenSSL::VERSION"` is `2.1.2`.
[code]

[2019-02-09 20:01] joeyates commented on #57
Reopening

[2019-02-10 07:42] Keruspe commented on #57
Fwiw, I also posted the patch here: https://bugs.ruby-lang.org/issues/15594

Not sure what else to do to get some progress on this

[2019-02-12 11:51] nibra commented on #57
Fails with

$ lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 18.10
Release:	18.10
Codename:	cosmic

$ uname -orm
4.18.0-14-generic x86_64 GNU/Linux

$ openssl version
OpenSSL 1.1.1  11 Sep 2018

$ ruby -v
ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-linux-gnu]

$ imap-backup -v
1.4.1

$ ruby -ropenssl -e "puts OpenSSL::VERSION"
2.1.1

I'm using imap-ba

[2019-02-17 21:07] joeyates commented on #57
@sebastianst and @nibra could you post the following?

1. the `Creating IMAP` line from your debug output,
2. an **anonymized** version of your `~/.imap-backup/config.json`

Thanks.

[2019-02-18 09:07] nibra commented on #57
D, [2019-02-18T10:04:00.429220 #4556] DEBUG -- : Creating IMAP instance: imap.gmail.com, options: {:port=>993, :ssl=>true}

{
  "accounts": [
    {
      "username": "info@bgw-breklum.net",
      "password": "********",
      "local_path": "/home/****/Mails/Backup",
      "folders": [

      ],
      "server": "imap.gmail.com"
    }
  ],
  "debug": true
}

[2019-02-21 13:17] joeyates commented on #57
The previous fix was only being applied to @gmail accounts.

This should now be fixed for custom domains in 2.0.0.rc4 (and 1.4.2).

You should get `{:ssl_version=>:TLSv1_2}`, like this:

[code]

@nibra @sebastianst Please check.

[2019-02-21 20:42] MatejKovacic opened #63 "email should be named username"
When running `imap-backup setup`, app asks you for your e-mail. However, it is not e-mail, it is actually username. For Gmail both are the same, but not for other servers.

And if you enter your username and try to test connection, app just crashes without printing out what the problem is.

Anyway, it would be nice to have option `imap-backup help` with description of all commands. Just an idea. :

[2019-02-21 20:46] MatejKovacic commented on #7
I try to do `imap-backup restore`

And got this error:

[code]

[2019-02-22 09:10] nibra commented on #57
Updating to 1.4.2 solved the issue for me. Thank you!

[2019-02-24 17:20] joeyates commented on #57
@nosilver4u Does the new release solve the problem for you too?

[2019-02-24 17:22] joeyates commented on #7
@MatejKovacic restore is available in the 2.x release. Please note it is pre-release - i.e. tested loads by me, but I haven't had any community feedback.

[2019-02-24 17:25] joeyates commented on #63
@MatejKovacic good point about username, that'll need to be fixed (and kept backward-compatible).

PRs are always welcome ;-)

[2019-02-24 18:43] MatejKovacic commented on #7
I see... any instructions how to install 2.x branch?

[2019-02-26 15:43] nosilver4u commented on #57
Updated to 1.4.2, but still getting the same error.
[code]

[2019-02-26 21:17] joeyates opened #64 "Invalid credentials (Failure) (Net::IMAP::NoResponseError)"
Some users, when using apparently valid credentials with GMail are getting this error.

[2019-02-26 21:20] joeyates commented on #57
@nosilver4u The issue you're having seems to be related to some problem with authentication with GMail. I've opened #64 to track this problem. The fact that you're having that problem means that TLS negotiation is succeeding, so I think you problem is unrelated to this issue.

Please feel free to reopen if you feel that this is not the case.

[2019-02-26 21:20] #57 closed

[2019-02-26 21:26] nosilver4u commented on #64
Periodically, I get this message from Google:
"Someone just used your password to try to sign in to your account from a non-Google app. Google blocked them, but you should check what happened. Review your account activity to make sure no one else has access."
I can review it, tell them it was me, but it doesn't matter. They keep blocking it, even though I'm using an app password.

When I DO tell t

[2019-02-28 14:10] tomathyg opened #65 "Backup failing on some folders (Non-Gmail account)"
I'm getting this error on a couple of mailbox folders:

imap.rb:1422:in `block in search_internal': undefined method `[]' for nil:NilClass (NoMethodError)

One is a standard folder with SmarterMail - 'Junk E-Mail'

The other is a test folder that I created (called Test).

[2019-02-28 18:23] joeyates commented on #65
Hi @tomathyg, this needs a bit more context as the file imap.rb and the method `search_internal` are not part of this project.

Please [turn on debug logging](https://github.com/joeyates/imap-backup#troubleshooting) and run it again, and then paste the **anonymized** output.

[2019-03-01 12:28] nihelmasell opened #66 "Questions"
Hi, can you have many different gmail accounts backed up at the same time? If so, is this possible too with gmail plus non gmail accounts? Also, is the MBOX format searchable? (like with grep or any similar and straightforward utility) How can you perform frequent search/filterings into these files?Thanks in advance! Forgive my ignorance!

[2019-03-01 20:23] joeyates commented on #66
Hi!

In terms of accounts any combination is fine.

MBOX is simply a text format, so, yes, you can grep it. If there are attachments things get a little more complicated, but the body of the message is fine. The good thing is that you can use existing mail clients to access MBOX file hierarchies, and that's probably the way to go.

[2019-03-06 18:41] nihelmasell commented on #66
I've read that mbox is the recommended format for long-term archiving. My problem is, how do you make reports, or perform a filtering of the data? Usually mail clients are slow when managing long databases (in my case 20 years of emails), and don't have advanced search options. In any case, I'm gonna give your app a try! It looks interesting!

[2019-04-11 16:34] joeyates commented on #66
Glad to hear it!

[2019-04-11 16:34] #66 closed

[2019-04-12 09:00] msbit opened #67 "Backup trying to operate on renamed folders"
If you:

* go through `imap-backup setup`, nominating specific folders
* rename the folders on the email service (eg Gmail)
* attempt to update the folder selection through `imap-backup setup`

the new named folder is available for selection (defaulting to not being selected) but the old named folder is not available for de-selection.

Then, running `imap-backup` will try and fetch from the (now n

[2019-04-22 15:28] joeyates commented on #67
@msbit Thanks for the bug report.

I've released version 2.1.0 to address this issue.

Missing folders are now skipped during download, and are removed from the list of folders during setup.

[2019-04-22 15:28] #67 closed

[2019-05-04 11:16] nihelmasell opened #69 "Error when setting up (MacOS 10.14.4)"
Hi, I get the error shown in the attached file when trying my first setup.

If its not easily solvable please tell me the name of the configuration file I should put into the ~/.imap-backup folder

Best Regards
[imap-backup.error.txt](https://github.com/joeyates/imap-backup/files/3144285/imap-backup.error.txt)

[2019-05-04 17:40] joeyates commented on #69
@nihelmasell It looks like this is caused by a problem with the version of libreadline, for example, see [here](https://gist.github.com/zulhfreelancer/47efc39584cb9f006da43c41c014e03a#gistcomment-2819337).

Please try `nvm reinstall 2.4.0`

[2019-05-04 21:45] nihelmasell commented on #69
Hi, did you mean npm? I dont have any program named nvm. When I type npm install 2.4.0 or npm install libreadline 2.4.0, I get 404. I also tried "ln -s /usr/local/opt/readline/lib/libreadline.7.0.dylib /usr/local/opt/readline/lib/libreadline.6.dylib" like the link says, but I still can't run the setup. // What's the name of the configuration file? I can manually edit it and put it into the folder.

[2019-05-06 09:56] joeyates commented on #69
@nihelmasell Sorry `nvm` was a typo, I meant `rvm`. I see from you attachment that the Ruby you're using was installed with [rvm](https://rvm.io/)

[2019-05-06 09:57] joeyates commented on #69
@nihelmasell Info about the configuration file is available here: https://github.com/joeyates/imap-backup#configuration-file

[2019-05-09 14:16] nihelmasell commented on #69
@joeyates I tried what you said. Didn’t work. I don’t know the name of the config file. You just point at the directory in the readme.md

[2019-05-10 19:56] joeyates commented on #69
@nihelmasell The file is ` ~/.imap-backup/config.json`

[2019-05-11 01:14] deviantintegral opened #70 "Does imap-backup preserve dates when restoring?"
My understanding is that many IMAP servers use the current date when uploading a new message. This breaks sorting on restored messages, as mail clients will use the current date and time for default sorts. For example, I have a restored message (from another tool) where the raw message is fine, but Fastmail shows as sent when the message was restore.

I'm curious if `imap-backup` has any workaroun

[2019-05-12 17:54] joeyates commented on #70
Hello @deviantintegral

Dates **are** set on restore. I've added a test for it. https://github.com/joeyates/imap-backup/commit/975db69796b6afd638ced05d2d7dc9e53aaac591

[2019-05-12 17:54] #70 closed

[2019-05-14 17:07] joeyates commented on #69
@nihelmasell Any news on this?

[2019-05-16 20:51] nihelmasell commented on #69
@joeyates I’m on vacation. Please give me a couple days. Do I have to insert any special formatting into the Json or just paste the text chain you show in the example?

[2019-05-17 14:38] joeyates commented on #69
The README indicates the structure of the file, the details depend on your computer setup. I think you would be best of resolving the original error (of the readline library) and using the standard setup process.

[2019-05-24 12:57] joeyates commented on #69
As the problem here relates to Ruby setup, I'll close.

[2019-05-24 12:57] #69 closed

[2019-05-30 21:24] nihelmasell opened #71 ""Certificate verify failed""
Hi, I did what you told me. I edited the json file with my credentials, and I got the App password from Google. I get the following error "/.rvm/rubies/ruby-2.4.0/lib/ruby/2.4.0/net/imap.rb:1490:in `connect': SSL_connect returned=1 errno=0 state=error: certificate verify failed (OpenSSL::SSL::SSLError)"

I don't know if its related to my environment (MacOs). I can try a linux virtual machine if yo

[2019-05-31 18:29] joeyates commented on #71
Hello @nihelmasell

The problem you're seeing relates to the CA certificates your Ruby is using. Maybe you could try this approach: https://www.engineyard.com/blog/ruby-ssl-error-certificate-verify-failed#solutions:

[code]

[2019-05-31 18:29] joeyates commented on #65
Closing due to inactivity.

[2019-05-31 18:29] #65 closed

[2019-05-31 18:30] #63 closed

[2019-06-02 15:34] nihelmasell commented on #71
Thanks! It works
PS: It also worked your previous advise, using "ln -s /usr/local/opt/readline/lib/libreadline.8.0.dylib /usr/local/opt/readline/lib/libreadline.7.dylib" you can use the configuration wizard properly.

[2019-06-03 19:09] joeyates commented on #71
Glad to hear it.

[2019-06-03 19:09] #71 closed

[2019-06-03 19:10] joeyates commented on #64
Closing due to inactivity.

[2019-06-03 19:10] #64 closed

[2019-06-03 19:20] nosilver4u commented on #64
Still having the issue, but my understanding is that a fix has been worked on upstream and will be released eventually, so I don't think there's anything you need to do here. Thanks for all your help!

[2019-06-04 06:28] nihelmasell opened #72 "Problems when adding a Hotmail account"
Hi, sorry to bother you again. I tested your program with gmail and worked really fine. The complete mailbox was downloaded and it was fully readable in Thunderbird. I tried afterwards to add a hotmail account, but got some issues. First, imap-backup hung without response. It stopped writing the mbox file and the program didn't respond. Then, I noticed the resulting box file was incomplete. Mails

[2019-06-12 05:39] jaccorens opened #73 "`fetch': undefined method `force_encoding'"
I'm having troubles syncing one of my two Apple iCould accounts. One of the accounts syncs fine, but the other one fails with the following error:

D, [2019-06-12T07:33:58.479612 #19668] DEBUG -- : Running backup of account: myusername@mac.com
D, [2019-06-12T07:33:58.480138 #19668] DEBUG -- : Creating IMAP instance: imap.mail.me.com, options: {:port=>993, :ssl=>{:ssl_version=>:TLSv1_2}}
D, [2019-0

[2019-06-12 10:45] joeyates commented on #73
It looks like the email data is coming back incomplete in that case.

This is fixed by 6622ba3d08e36a754488f95178dc917f429de5b3 where I've added a handler for this situation (it simply drops the message). It's released as v.2.1.1

[2019-06-12 10:45] #73 closed

[2019-06-20 08:17] joeyates commented on #72
Thanks for the report, this needs checking. Please enable debug output and send me privately an anonimized output.

[2019-06-25 12:04] #72 closed

[2019-06-30 07:40] jaccorens commented on #73
This update does not seem to fix it for me;

[code]

[code]

An 2nd iCloud account syncs fine, as well as two other map accounts on cyrusimap.

Is there an option to do a full verbose debug, so we can see where it get's stuck?

[2019-07-06 16:14] tomershvueli opened #75 "Where is the backup saved?"
For some reason I'm not seeing a backup file saved to the directory specified in config.json. The backup has run all the way through, and I know that it actually backed up my account somewhere since when I run it again it says there's no new messages and I saw my free disk space lessening as `imap-backup` was running, but the folder specified is entirely empty. What am I missing?

Thanks for your

[2019-07-08 12:10] tomershvueli commented on #75
I think I figured this out. Under my `config.json` file I put `~/folder/test-backup/` as the `local_path`. Instead of saving it into my Home directory in the folder that already existed, it created a new folder, titled literally `~`, and saved it there. Good to know!

[2019-07-08 12:10] #75 closed

[2019-10-14 14:06] jaccorens opened #76 "Unable to get folder list for account"
I have an issue using map-backup on just one Apple iCloud account mailbox. The other configured account syncs just fine. I have no clue what can be wrong, mail can be read fine though my mailclient.

[code]

Any advice on what to do for debugging?

[2019-10-20 13:18] joeyates commented on #76
If the IMAP server is standards compliant, imap-backup should able to get the folder listing.

It would be good to know if anyone else with Apple email accounts is experiencing this problem.

[2019-10-22 13:26] robrecord commented on #76
I am experiencing this issue, with a GoDaddy email account.

[2019-10-22 21:02] joeyates commented on #76
@robrecord Thanks for the info.

[2019-10-23 06:24] jaccorens commented on #76
I have this issue on just one iCloud account, a second configured iCloud account syncs just fine. Although the folder list does not seem to work, I get the output below after running a full backup with this problem account;

[code]

I think the issue resides on the IMAP server side, but I'm not sure how to debug further from here.

[2019-10-23 06:26] jaccorens commented on #76
And for reference, the output from the other configured iCloud account;

[code]

[2019-10-23 12:37] joeyates commented on #76
@jaccorens Thanks for the further info.

Is there any difference (account age, permissions or folder layout) between the problematic and non problematic iCloud accounts?

[2019-10-25 11:53] KevinBongart opened #77 "imap.rb:1422:in block in search_internal': undefined method []' for nil:NilClass (NoMethodError)"
I'm running into the same error as @tomathyg in https://github.com/joeyates/imap-backup/issues/65, also a non-Gmail account.

[code]

Note that `imap-backup` runs in an hourly cronjob, most of the time completing successfully, sometimes finding new mail to back up and sometimes nothing new. This is not blocking my workflow as the backup eventually completes.

In the trace above, `WatchThis` is a f

[2019-10-26 08:09] joeyates commented on #77
Hi @KevinBongart thanks for the bug report.

I've released v2.2.1 which handles the error and skips the folder.
I'm not clear why this is happening, but the error gets logged so you should see which folder are causing this - that way we may be able to understand the root cause.

@tomathyg - please try this out.

[2019-10-27 12:12] KevinBongart commented on #77
Thanks for the quick fix! I saw the same error again on a different folder last night before I updated the gem. I'll post the trace of what causes it if I see it again

[2019-10-29 10:48] KevinBongart commented on #77
Got this log a few hours ago:

[code]

The good news is your fix did catch the error and let the backup complete, the bad news is… that draft folder is empty and has been empty for several days, yet the hourly backup job failed at 4am but worked at 3am and at 5am.

Anything I can do to investigate this some more?

[2019-11-02 10:07] joeyates commented on #77
@KevinBongart Maybe this happens with empty folders on Fastmail. If that is the case, then we may not actually be missing anything with this fix.

It'd be interesting to hear if this happens to other Fastmail users.

[2019-11-24 21:45] nicholashead opened #78 "Windows - permissions issue with config file"
I know Windows doesn't seem to be officially supported, however I cannot get it to work with checking permissions on the config file. I can initially do the setup, save and exit - but running the app again complains that the permission on the config file isn't what it should be:

`Permissions on 'C:/Users/user/.imap-backup/config.json' should be 0600, not 0644.`

I have no idea what it's expecting

[2019-11-26 15:32] daniel-rikowski commented on #78
I don't think that is possible. On Windows Ruby only returns either `0644` or `0444` for files. (Source: https://ruby-doc.org/core-2.6.5/File.html, the last paragraphs)

I did some experiments using MSYS and WSL, too. MSYS detects 0644 for most files, while WSL shows 0777. When using chmod to change the permissions to 0600, both appear to succeed, but still show the original permissions. So even u

[2019-11-26 16:20] nicholashead commented on #78
@daniel-rikowski good research. What I wound up doing locally is modifying one of the files to bypass the permissions check when loading from config, and it appears to be working 100% fine in native Windows (with the Windows ruby installer). I am not savvy with Ruby, but I can give it a go to see if I can make the check optional. But it's also good to know that imap-backup does indeed work under W

[2019-11-27 10:14] daniel-rikowski commented on #78
Agreed, skipping the permissions check seems to be the only thing necessary to make imap-backup work on Windows.

I changed `lib/imap/backup/utils.rb` like this:

[code]

[2019-12-12 11:10] joeyates commented on #78
Thanks guys.

I'd really like to avoid removing the permissions check on a file with sensitive data in it.

Reading around, it looks like it's possible to set up ACLs for this type of thing. So, I'd prefer to keep this issue open for a while in the hope that someone comes up with a PR that maintains the current guarantees.

[2019-12-12 17:23] nicholashead commented on #78
@joeyates right, I totally understand why it was done, it just seems like on Windows-based Ruby there's no current way to actually get back a response that would match what is being checked for in the codebase, if I read their docs correctly.

[2019-12-25 14:01] paulgessinger opened #79 "Google via OAuth"
As far as I understand it, Google will phase out app passwords for G Suite (basically Gmail with a custom domain) for “security reasons”: https://gsuiteupdates.googleblog.com/2019/12/less-secure-apps-oauth-google-username-password-incorrect.html?m=1

Any idea how large the effort would be to support Google’s OAuth for accessing these types of accounts?

[2019-12-25 14:59] joeyates commented on #79
@paulgessinger Thanks for letting me know.

Doing OAuth would require opening a browser and asking the user to go through the authorization flow.

it would certainly require a bit of work, but the main problem is that it means using this library with a cron job would become more difficult.

Here's an blog post by Martin Fowler about a similar use case: https://martinfowler.com/articles/command-lin

[2019-12-25 15:19] paulgessinger commented on #79
Right, makes sense. In principle, some of this flow could be pretty manual I guess. There doesn’t need to be a fully automated auth. flow, as also described in the link you included.

Once that’s done (i.e. once the refresh token is in the config file), everything else should not be problematic in a cron job, right? You just need to make sure the auth sequence ran once before.

I have no experienc

[2019-12-25 15:31] paulgessinger commented on #79
I dug around a little bit. I found [this](https://github.com/nfo/gmail_xoauth) which mentions using Google's own [oauth2.py](https://github.com/google/gmail-oauth2-tools) tool to do the sequence with the google api. Subsequently, it should be possible to do something like

[code]
(copied verbatim from the first url) to get an imap connection, which I believe this tool operates off of.

[2020-06-29 18:11] bentolor opened #80 "Encoding issues with folder names containing german umlaut"
Hi @joeyates ! Thanks for you helpful tool. Especially the `setup` functionality is a joy of simplicity. Love it.

A little issue i stumbled upon: `imap-backup status` lists the following:

[code]

The proper foldernames are _Entwürfe_ and _Gelöscht_; Not sure about the background of the `&APw-` for ü.

Fortunately it seems that the backups seems to work nonetheless, though…

[2020-06-30 13:53] bentolor opened #81 "Sporadic EOFError in `get_tagged_response' on running imap-backup"
On running `imap-backup` it aborted quickly and spilled this stacktracke.  A subsequent run worked without errors.

[code]

[2020-07-05 19:17] joeyates commented on #80
Hi @bentolor ,

Thanks for the report. Glad it works nonetheless. I'll leave this open till we get a fix.

[2020-07-05 19:23] joeyates commented on #81
Thanks @bentolor ,

Looks like a network glitch. Probably need to have a retry mechanism around that call. I'll leave this open until we get a fix.

[2020-08-16 13:21] dankrad commented on #79
This app is now blocked by Google as a "Less secure app" :( so this enhancement might be necessary

[2020-09-05 20:24] sstubbs opened #82 "Incremental Backups"
Firstly I just wanted to say thank you for this amazing library. It's the first time imap backup/restore has been so simple and efficient. Does this do incremental backups or will it do a new backup each time?

[2020-09-08 05:50] paulgessinger commented on #82
It only downloads messages that are not in t the local backup, so is effectively incremental. It doesn't save versions though u I believe. I'm running this in combination with Borg backup to make a snapshot after ever sync.

[2020-09-08 05:56] paulgessinger opened #83 "Restore performance"
I'm trying to restore a large-ish account. I have about 30k messages in one folder (archive like GMail does).

A few smaller folders in the same backup restored quickly, maybe a few seconds for about a hundred messages.

The big folder though restores very slowly, and it seems to slow down the further in it gets. It started at a few messages per second and now it's at about 1.5min per message half

[2020-09-19 08:57] joeyates commented on #82
@sstubbs Thanks for the question. As @paulgessinger says, imap-backup does a progressive backup. It has a list of message ids per folder and downloads the missing ones.

[2020-09-19 08:57] #82 closed

[2020-09-19 09:06] joeyates commented on #83
Hi @paulgessinger thanks for you question.

You are quite right, the current implementation does a linear scan on each upload. See here: https://github.com/joeyates/imap-backup/blob/162974a8dd07f906faa10336d07f06b2247a27e4/lib/imap/backup/serializer/mbox_store.rb#L145

It's a naive approach and is far from ideal. Ideally, the upload should step through the serialized emails with an enumerator. I a

[2020-09-19 09:14] joeyates opened #84 "Linearly scan mboxes for message offsets before restores"
As noted in #83, the current implementation is very inefficient. When restoring messages, it reparses the whole mbox from the beginning each time.

The method used is [load_nth](https://github.com/joeyates/imap-backup/blob/162974a8dd07f906faa10336d07f06b2247a27e4/lib/imap/backup/serializer/mbox_store.rb#L145).

The problem is that the implementation needs to be independent of the order of messages

[2020-09-19 09:15] #83 closed

[2020-09-20 14:49] sstubbs commented on #82
ok great thanks for the help.

[2020-09-24 16:40] joeyates commented on #84
I've created the branch feature/optimize-restores that should resolve this issue.
I'm testing a bit more before releasing it.

@paulgessinger Would you be able to test?

[code]

[2020-09-24 17:46] paulgessinger commented on #84
Thanks a lot!

I'll try to test it this weekend. I'll let you know what I find!

[2020-09-28 09:46] paulgessinger commented on #84
So, preliminary, I can say that it looks to be faster. I want to do a more thorough comparison, but I haven't got around to it yet.

[2020-09-28 10:59] paulgessinger commented on #84
![index](https://user-images.githubusercontent.com/1058585/94424325-51894f80-018a-11eb-8684-b779c27acd29.png)

Yeah it seems indeed to not only be faster, but also the trend is more or less flat, rather than going downwards as is the case for `2.2.1`. This was tested with a local IMAP server, so network etc. should not have any effect here. I can test with more volume if necessary, but this looks

[2020-10-02 06:50] joeyates commented on #84
Thanks @paulgessinger

Nice graph!
Your tests confirm what I'm seeing myself. I'll cut a release.

[2020-10-02 06:59] joeyates commented on #84
I've release version 2.2.2 with this change.

[2020-10-02 06:59] #84 closed

[2020-10-22 08:59] borpin opened #85 "Error while running initial backup"
Saw this error during an initial backup.  Rerunning started from where it left off.

Running under Ubuntu 20.04 as a Proxmox LXC.

[code]

[2020-10-22 11:38] igorkulman commented on #80
Same problem with central European characters.

[2020-10-22 12:45] borpin opened #86 "Question - Can this tool delete mail?"
In https://github.com/joeyates/imap-backup/issues/82#issuecomment-688633557 you say it doesn't delete mail.

I really don't want my archive to continually grow. Is it possible to add a feature where deleted email gets deleted?

[2020-10-23 11:15] acavalin opened #87 "folder exclude list"
Hello,

could you add the support for a folder exclude list?

While backing up my Gmail account I wish to exclude all `[Gmail]` subfolders except `[Gmail]/Sent Mail`, with this feature I will be able to exclude `[Gmail]/All Mail`, `[Gmail]/Important`, `[Gmail]/Bin`, `[Gmail]/Starred`, `[Gmail]/Spam`, `[Gmail]/Drafts`.

Thank you

[2020-11-02 14:26] RemyFV commented on #80
same for every accent used in French, too.

[code]
 great tool otherwise :)

[2021-01-06 19:32] joeyates commented on #79
@paulgessinger If you're willing to beta test, I've implemented this in a branch https://github.com/joeyates/imap-backup/blob/feature/gmail-oauth. It's all documented [here](https://github.com/joeyates/imap-backup/blob/feature/gmail-oauth/docs/setting-up-gmail.md).

[2021-01-07 08:11] paulgessinger commented on #79
Hey @joeyates, I actually don't have access to a paid Google account anymore, since I migrated hosts. (that was what my other issue had been about, actually :) ).

So I'm afraid I can't test this I think.

[2021-02-07 09:36] joeyates commented on #79
I've released [version 3.0.0](https://github.com/joeyates/imap-backup/releases/tag/v3.0.0) with OAuth2 support for GMail.

[2021-02-07 09:36] #79 closed

[2021-02-07 09:46] joeyates commented on #86
Hi @borpin

If I understand correctly, I imagine that you want imap-backup to mirror the **current** status of your email account.

I know this might turn into a philosophical debate, but I think this libraries purpose is to do the opposite - to guarantee you have a copy of what gets deleted! :)

So, if I have understood your use case correctly, I would say it is outside the scope of this project.

[2021-02-07 09:51] joeyates commented on #85
Hi @borpin,

It looks like this is a network-induced error. I agree that the error message `EOFError` is not very helpful, but as it's happening in Net::IMAP, there's not much we can do.

[2021-02-07 09:51] #85 closed

[2021-02-07 10:02] joeyates commented on #87
Hi @acavalin

This would certainly be useful, but I'm worried about the complexity it might introduce. It would require the intorduction of a wildcard-based blacklist to the config.

Currently, imap-backup works on a whitelist-based approach: you indicate a list of folders to download (and the default is all of them).

Mixing a whitelist and a blacklist risks being complex in terms of UX.

In your

[2021-02-07 14:02] #80 closed

[2021-02-07 14:03] joeyates commented on #80
Released as v3.1.0

[2021-02-07 14:05] joeyates commented on #76
Closing due to inactivity.

[2021-02-07 15:33] #77 closed

[2021-02-07 17:19] joeyates commented on #85
@borpin This is fixed in version 3.2.0

[2021-02-07 17:20] joeyates commented on #81
I have implemented a retry mechanism (in certain specific cases). It's released as version3.2.0.

[2021-02-07 17:20] #81 closed

[2021-02-08 15:55] acavalin commented on #87
Hi, that won't do bacause I have many labels and sublabels other than `[Gmail]/Sent Mail` and I wish to backup them all except Gmail "special" labels to avoid email duplication.

Right now to overcome this issue I wrote a tiny script that lists all labels with `imap-backup folders` then excludes the special ones and populates the "folders" array in `~/.imap-backup/config.json`: ti works but it's n

[2021-02-08 16:42] joeyates commented on #87
Thanks the clarification.

Let's close for now - if someone comes up with a PR for this, we can see how it pans out!

[2021-02-11 15:57] cmol opened #88 "Use XDG_CONFIG_HOME for config location"
Instead of hard coding a location, use the XDG spec for the config file.

This could be using something like:
https://www.alchemists.io/projects/xdg/

[2021-02-14 15:41] reinouts opened #89 "Can't list folders; undefined method `name' for "INBOX":String (NoMethodError)"
Hi,

With the latest imap-backup I'm running into this issue. Is there anything I'm doing wrong?

[code]

[2021-02-15 20:35] v9n opened #90 "Thanks so much for this"
I'm sorry for spamming you with this issue. But I just want to express my grateful to this project. It was so helpful to have a way to continously bakcup my email to a local disk and erase them from gmail.

[2021-02-17 08:36] joeyates commented on #90
Hi @v9n This kind of spam is always welcome. Thanks for the kind message :)

[2021-02-17 08:36] #90 closed

[2021-02-17 08:39] #86 closed

[2021-02-17 09:41] #89 closed

[2021-02-17 09:43] joeyates commented on #89
@reinouts Thanks for the bug report. I've fixed this in v3.2.1.

[2021-02-17 19:36] DunklerPhoenix opened #92 "Google IMAP Session expired"
Heho.
After a random time while backup of a big inbox the connection drops with "Session expired"

[code]

The session is not really expired. If I restart the command its working as normal again. It seems to be a timeout.
I think an retry functionality would be good.

Greetings

PS:
GSuite-Account with TFA. Configuration with Application Password.

PPS: Another question. How fast should be the bac

[2021-02-17 19:43] DunklerPhoenix opened #93 "incompatible character encodings: UTF-8 and ASCII-8BIT"
Heho
I saw this error message in the log. Maybe it is a bug.

Complete output:
(Info: It should be "Gästebuch" not "G▒stebuch")
[code]

[2021-02-20 22:11] vitaliy-sk opened #94 "Google OAuth token expiration"
Seems Gmail OAuth authenticator not refreshing the OAuth token.
After expiration of the access token it throwing an exception

[code]

[2021-02-21 09:19] joeyates commented on #94
Hi @vitaliy-sk Thanks for the report.

The error looks like the failure is happening during an attempt to refresh the access token.

I've done a search and it looks like there can be many reasons for failed renewal (too may tokens, the token has actually been revoked manually, password change).

Do any of these cases seem to match your situation?

By the way, I've released version 3.3.0, which mak

[2021-02-21 09:38] #92 closed

[2021-02-21 09:40] joeyates commented on #92
Hi @DunklerPhoenix

Thanks for the report.

I've release version 3.3.1 with a retry for this case. Let me know how it goes!

[2021-02-21 10:28] joeyates commented on #93
Thanks @DunklerPhoenix

I'll work on a fix for that.

[2021-02-21 21:54] vitaliy-sk commented on #94
I have a separate project in Google cloud for IMAP backup with a single token. I also didn't touch the password.
Now I generated a new token, lets see if refresh will work.

[2021-02-22 11:43] DunklerPhoenix commented on #92
YEAH It works
Thank you :3

![RPFJUEOLl2](https://user-images.githubusercontent.com/1261305/108703846-79979780-750b-11eb-8128-9b1bcc6eba29.png)

[2021-02-22 13:18] DunklerPhoenix opened #95 "end of file reached (EOFError)"
Heho.
Sorry to throw the next error message to you.
This one I had multiple times now. If I restart the command it works as normal, but sometimes it stops with "EOFError".

[code]

Version: 3.3.1
Related Issues:
- https://github.com/joeyates/imap-backup/issues/81
- https://github.com/joeyates/imap-backup/issues/85

[2021-02-26 20:23] mignz commented on #76
Has anyone found a fix for this? I'm using a me.com account.

[code]

[2021-02-26 21:30] alpham8 opened #96 "cannot locate command"
Hi,

may you tell me please where the command is installed after doing `sudo gem install 'imap-backup'`? I wasn't able to find the command, since `which imap-backup` didn't print anything out where it could be located at.

Cheers,

alpham8

[2021-02-26 22:28] processor286 opened #97 "SSL Problems connecting to Protonmail Bridge IMAP"
Trying to use imap-backup to pull messages out of protonmail using their bridge.

When I configured the bridge, I tested it with kmail, and kmail can use the bridge imap server, though it gave a warning and I accepted the bridge's self signed ssl certificate, then it worked.

The bridge provides an imap port on localhost port 1143 , so I configured imap-backup thus:

[code]

This results in the fo

[2021-02-27 18:53] joeyates commented on #76
Hi @mignz

It looks like there is a specific problem with iCloud IMAP. I've reopened this issue in the hope of finding more examples.

[2021-02-27 19:18] joeyates commented on #94
Hi @vitaliy-sk

Any news on this? Is refresh working?

[2021-02-27 19:30] joeyates commented on #96
Hi @alpham8

`sudo gem install 'imap-backup'` *should* install `imap-backup` as `/usr/local/bin/imap-backup`.

Could you check if it's there?

If it *is*, I think you may not have `/usr/local/bin` in your `$PATH`.

[2021-02-28 12:08] alpham8 commented on #96
Thanks @joeyates but no, it's not:
[code]

[2021-02-28 20:57] vitaliy-sk commented on #94
It worked ~6 days then stopped.
Probably the root cause is not token management, my previous backup failed due to folder permission issues (my fault).
I can assume that it refreshed the token but not saved the new one.

[2021-03-02 14:26] joeyates commented on #96
Hi @alpham8

Could you paste the output of `sudo gem environment`?

Mine is as follows:

[code]

[2021-03-02 22:10] alpham8 commented on #96
For me it is:
[code]

[2021-03-03 14:17] joeyates commented on #96
Hi @alpham8

Based on that, please see if you have the script installed at `/usr/bin/imap-backup2.7`.

My understanding is the following:

You have `EXECUTABLE DIRECTORY: /usr/bin` which is probably configured by an environment variable of `GEM_HOME=/usr` somewhere. This is causing the script to be installed under `/usr/bin` and not the normal `/usr/local/bin`.

Secondly, you have `--format-execut

[2021-03-11 20:32] alpham8 opened #98 "Cannot connect to server"
Hi,

with this ``config.json`` I can't connect to the server, even if the firewall is completely disabled:
[code]

The reply always in setup / testing is:
[code]

I'd be pleased for any help.

Thanks in advice,

alpham8

[2021-03-11 20:33] alpham8 commented on #96
Thank you very much, now I was able to find the command. I'm a total ruby beginner...

[2021-03-11 20:33] #96 closed

[2021-03-13 22:12] m9aertner commented on #98
You need to set a "server" element in the config. Without that, `imap-backup` attempts to connect to your very own machine (127.0.0.1) which does not run an IMAP server on :993.

FWIW, I just checked that IONOS is working nice (same parent company as GMX), with config

    {
      "accounts": [
        {
          "username": "webmaster@xxxxxx.de",
          "password": "xxxxxxxxxxxxxxxxxx",

[2021-03-20 11:09] joeyates commented on #97
Hi @processor286

I think the best thing is to work out which ciphers the bridge supports.

`imap-backup` uses this config by default:

[code]

so, servers needs to support `TLSv1.2` for that to work out of the box.

Please run the following:

[code]

As an example, here's the output I get for GMail's server:

[code]

[2021-03-20 11:10] joeyates commented on #98
Hi @alpham8

Does @m9aertner 's suggestion resolve the problem?

[2021-03-20 22:21] alpham8 commented on #98
Yes, thank you @joeyates and @m9aertner that solves my problem. Thankfully to that project, I'm now able to take mail backups :-)

[2021-03-20 22:21] #98 closed

[2021-03-28 21:25] SpiritInAShell commented on #82
The IDs seem to be saved in a file `.IMAP` like `INBOX.IMAP`  and the mails stored in `INBOX.mbox`.

If I delete the `.mbox` file, the mails in this mailbox will be downloaded again (also `imap-backup status` displays a count>0 for `INBOX`)

If I zero out the `.mbox` file (eg. `echo > INBOX.mbox`), the mails will not be redownloaded (also `imap-backup status` displays a count=0 for `INBOX`).

Is t

[2021-03-30 10:42] joeyates commented on #82
Hi @SpiritInAShell

The choice of which emails need to be downloaded depends on the `.imap` files, so if they are zeroed out, everything will get downloaded again. On the other hand, if the `.mbox` file is modified, imap-backup will not download the emails again.

Modifying the `.imap` and `.mbox` files goes outside the scope of imap-backup, but if your use case is to reduce the size of the backup

[2021-03-30 21:23] yesrod commented on #94
Google, in their infinite wisdom, has limited authorization for "testing" projects to seven days. After seven days, the token expires and must be reauthorized.

https://support.google.com/cloud/answer/10311615?hl=en#zippy=%2Ctesting

[2021-04-03 18:48] alpham8 opened #99 "Question: How to browse mails / content?"
Hi all,

the backup and restore works fine. But however, I'm currently compeltely "blind" in what is included in the backup.

Is there a way to browse / view the backuped mails locally?

Second, would it be also possible to search for mails with a search engine like Elasticsearch?

Thanks in advice,

alpham8

[2021-04-19 07:40] psy-q commented on #99
The backups are in mbox format so anything that can read mbox should be able to view them (e.g. mutt, [Mozilla Thunderbird](https://commons.lbl.gov/display/~jwelcher@lbl.gov/Reading+an+mbox+file+with+Thunderbird), Apple Mail, etc.). There are also separate mbox viewer tools, for example on Windows there is [https://sourceforge.net/projects/mbox-viewer/](mbox-viewer).

There is an [mbox indexer for

[2021-04-22 08:45] dsolera opened #100 "100% CPU and no logs"
I'm running imap-backup inside a container on with base image ruby:apline. Everything was working OK until I updated the base image to latest, a couple weeks ago.

Now imap-backup, as soon as it's started, loads one CPU core to 100% and outputs no logs and no stdout/stderr.

It's configured to backup a Gmail mailbox with an app password, and the problem persists even if I delete the existing backu

[2021-04-22 09:05] dsolera commented on #100
To add more info, I also tried to start an empty container with ruby:apline and manually configure imap-backup on the same Gmail account with an app password, and the behavior is the same.

[2021-04-27 08:56] dsolera commented on #100
Trying with another base image (ruby:latest, Debian-based) works fine, so it must be some compatibility issue with the Apline-based image.

[2021-05-03 14:00] alpham8 commented on #99
@psy-q Thank you, I tried it with Thunderbird. But Thunderbird needs one folder for it. If I give it the whole Mailbox folder, then the half of the Mailbox is missing. May you please try it and tell me if it works for you?

You may find this site helpful. I did it like this: https://www.sysinfotools.com/blog/import-mbox-file-in-thunderbird/

[2021-05-03 14:01] alpham8 commented on #99
I just like to see what's included in the backup. Because currently I'm totally "blind"...

[2021-05-07 09:02] psy-q commented on #99
Yes, that guide seems similar to the one I linked to earlier from Berkeley Labs. I don't typically use Thunderbird but it seems this trick still works, I just symlinked the .mbox directories imap-backup creates into the Local Folders directory as per the guide and they showed up in Thunderbird after I restarted. I could browse them fine, attachments and everything.

I didn't notice any missing mes

[2021-05-17 17:44] alpham8 commented on #99
@psy-q Nothing is missing, it's fine as I said in the beginning. I am able to restore everything. But I can't view anything locally in my backup folder using Thunderbird. Because I have run into the folder / subfolder problematic. May you explain your solution a bit in detail, please?

[2021-05-18 05:52] psy-q commented on #99
Then I misunderstood what you meant by "If I give it the whole Mailbox folder, then the half of the Mailbox is missing". I thought you were seeing the content of some mbox files within the folder, but that not all the messages from each mbox file show up.

I hope in this case this stupid trick would work via symlinks:

`imap-backup/newsletters.mbox -> your_firefox_profile/Local Folders/newsletters

[2021-07-05 14:10] johnjones4 commented on #97
@processor286 wondering if you ever solved this as I am encountering the same issue.

[2021-07-07 10:02] processor286 commented on #97
Sorry no. I needed a robust IMAP solution so I off-boarded from Proton Mail and moved to another provider.

[2021-07-07 12:04] johnjones4 commented on #97
All good. Thanks!

[2021-07-09 08:31] joeyates commented on #97
Closing.

[2021-07-09 08:31] #97 closed

[2021-07-10 03:33] creatureface commented on #76
Here is another trace from a GoDaddy account.

D, [2021-07-09T20:31:59.197369 #89531] DEBUG -- : Creating IMAP instance: imap.secureserver.net, options: {:port=>993, :ssl=>{:ssl_version=>:TLSv1_2}}
D, [2021-07-09T20:31:59.399733 #89531] DEBUG -- : Logging in: name@redacted.com/xxxxxxxx
D, [2021-07-09T20:31:59.812077 #89531] DEBUG -- : Login complete
I, [2021-07-09T20:32:00.011932 #89531]  INFO --

[2021-07-25 10:14] EvegniyK opened #101 "incompatible character encodings: UTF-8 and ASCII-8BIT (Encoding::CompatibilityError)"
Hello

I saw this error message in the log. Maybe it is a bug.
Maybe this is duplicate #93 , but the error stack is different.

Traceback (most recent call last):
        18: from /usr/local/bin/imap-backup:23:in `<main>'
        17: from /usr/local/bin/imap-backup:23:in `load'
        16: from /var/lib/gems/2.7.0/gems/imap-backup-3.3.1/bin/imap-backup:76:in `<top (required)>'
        15: from /va

[2021-08-03 11:44] badda71 opened #102 "Feature Request: Prevent deletion of messages in certain folders"
I have a feature request: My email provider deletes messages after a certain period of time. I would, however like to keep them in my backup. For this, I would like to prevent deletion of messages in certain email folders. These folders should be configurable in config.json.

[2021-08-03 15:51] AlexanderProd opened #103 "No sender included in emails."
I've made a backup using this tool but the but for every email inside the .mbox file theres no sender.

im using a regular imap account and not google mail.

How can this happen?

[2021-08-17 08:43] drakuno commented on #103
This happened to me as well and upon inspection of the generated .mbox files, I have discovered that all `From` headers are prefixed with the `>` symbol for some reason!

All `From` headers look similar to this:
[code]

Did I miss some configuration option? Why might this be happening otherwise?

[2021-09-13 14:50] ReubenBTalbott commented on #94
Is there any fix for this? I'm trying to setup an auto email backup system for myself and a neighbor and we both use Gmail.

[2021-09-21 15:40] joeyates commented on #94
I have reverted imap-backup's default behaviour with GMail accounts to use standard user+password authentication.
OAuth2 is not usable with automated access.

I've released version 3.4.0 with this change.

Note: you need to create an 'App password' to use this functionality, which in turn means you need to set up 2-factor authentication on your GMail account.

[2021-09-21 15:40] #94 closed

[2021-09-21 15:41] joeyates commented on #88
Hi @cmol Using the XDG spec makes a lot of sense. Any PR that implements this would be welcome.

[2021-10-05 20:05] WoOS2 opened #104 ""unexpected token SPACE" error when fetching first IMAP message"
I get an error when trying to use imap-backup on Ubuntu 20.04 to backup e-mails from the Xeams Imap-Server (Imap-Server for QNAP-NASes).

CLI:
[code]
config.json (slightly edited for obvious reasons):

[code]
The server log shows (again with some slight editing):
[code]
So it looks as if imap-backup actually fetches the first e-mail and then crashes with the exception shown in the beginning.
I mus

[2021-10-07 10:27] robdejonge opened #105 "Restore on another server possible?"
Because I'm having issues importing the mbox file generated by this tool into Apple Mail, due to it not understanding a properly formatted mbox it seems, I am wondering if I can create a backup with this tool, then change the server name and have it 'restore' the backup to the server?

[2021-10-07 20:33] drakuno commented on #103
@robdejonge check out [dovecot's sync tool](https://wiki2.dovecot.org/Tools/Doveadm/Sync). That's what I ended up using.

[2021-10-18 23:53] drakuno commented on #103
The .mbox file is a plain text file, if I remember correctly.

You can remove the leading `>` symbol and whitespace to restore the `From:` header. This is enough to display the sender.

However, as I mentioned, I opted for the dovecot tool instead because I was unaware if there might've be any other inconsistencies with the file.

[2021-11-16 10:56] joeyates commented on #105
Hi @robdejonge

Yes, you certainly can restore to a different server or service.

First, run `imap setup` and add authentication to the new service.

Next, if the email address you are restoring to is different from the one that was backed up, rename the directory containing the existing backup to match the email address for the new service.

Then run `imap restore -a NEW_SERVICE_EMAIL_ACCOUNT`

[2021-11-16 10:56] #105 closed

[2021-11-16 11:37] joeyates commented on #104
Hi @WoOS2

Thanks for opening the issue.

This problem seems to relate to how Ruby's Net::IMAP parses a response from the IMAP server.

In order to be able to "see" what Net::IMAP fails to parse, I have changed the debug behaviour of the gem.

I've relased this as version 3.4.1

If you set `debug: true` in the config, as well as logging internals verbosely, Net::IMAP's *own* debugging is activated

[2021-11-16 13:04] joeyates commented on #103
Hi @AlexanderProd

The behaviour you are seeing here is by design - it is due to the fact that imap-backup stores email messages in the "mboxrd" format.

Unfortunately, there is no canonical source for the standard. I think the best analysis is [this one](https://web.archive.org/web/20201231011750/https://jdebp.eu/FGA/mail-mbox-formats.html).

Here's a brief run down...

As the mbox format concate

[2021-11-16 13:07] joeyates commented on #102
Hi @badda71

I think that imap-backup already handles what you need... As it makes a "cumulative" backup, it never deletes messages from disk. So, when your email provider deletes a message, you will still find it in the backup.

[2021-11-16 13:07] #102 closed

[2021-11-16 15:45] DunklerPhoenix commented on #95
I really don't know xD

I'll test it the next days.

[2021-11-17 03:14] robdejonge commented on #105
Thanks

[2021-11-17 18:31] joeyates commented on #99
Hi @alpham8

The next version of imap-backup will have functionality to list emails and view them (as raw - no functionality to view HTML emails or attachments!).
I've released this as version 4.0.0.rc1 if you want to have a look.

[2021-11-17 18:37] joeyates commented on #99
@psy-q It would be nice to integrate an "Export to Thunderbird" functionality.

But, for imap-backup's restores to work, the '.imap' and '.mbox' files must remain aligned (one contains the ids and the other the messages).

So, I think it's problematic to give Thunderbird direct access to the mbox files as the user might alter them. So, it might be necessary to do this via copying and not symlinkin

[2021-11-17 18:39] joeyates commented on #103
@AlexanderProd I've released a pre-release gem (4.0.0.rc1) with functionality to export single emails in their original form (with ">" prefixes removed from "From" lines).

[2021-11-17 18:40] #100 closed

[2021-11-21 01:15] vielhuber opened #107 "Limit / backup only last recent emails"
Hello!

Would it be possible to add a flag that only the emails of the last N days are backuped?

We have very large mailboxes and suffer from too small caches, too long upload times etc.

If imap-backup would backup e.g. only mails from the last N days, we could overcome those issues.

[2021-11-21 10:30] joeyates commented on #107
Hi @vielhuber

Thanks for opening the issue!

I have two doubts about this functionality.

# Problems

## Usability

Firstly, in terms of the library, adding functionality to do partial backups is a delicate matter, and there may be a million different use cases in this area for different users.

## Implementation

Principally, I think that technically, this may be difficult...

Due to the current

[2021-11-21 22:01] WoOS2 commented on #104
Sorry, the QNAP is sold (and in the end I copied the e-mails "by hand" from within Thunderbird). I can't try this anymore in this setup.

[2021-11-22 08:55] #104 closed

[2021-11-22 08:58] #103 closed

[2021-11-22 12:04] vielhuber commented on #107
Thank you for this detailed and precise answer.

I have successfully tested the solution "stuff-uids.rb", which works as intended.

Unfortunately, what is still missing for a productive use, is the possibility that the folder names are determined automatically (each account has a different folder structure).

Is it possible to add this in the script or give me a hint how to achieve this?

In gener

[2021-11-22 16:58] joeyates commented on #107
@vielhuber

In the program, you would have to put the existing code in a loop, for each folder:

[code]

On the other hand, instead of modifying the code, you could get the list of folders via the command line, then call the existing script for each folder.

You can list all the folders for an account like this:

[code]

It outputs the email, followed by all folders.

[2021-11-22 17:01] joeyates commented on #101
Hi @EvegniyK

If you are still having this problem, please install a version >= 3.4.1 and activate debug mode.
You will see **all** data sent to and received from the IMAP server - that should help to understand the bytes thhat are causing the error.

N.B. The debug log will include passwords in the clear, so it'll need redacting before posting here!

[2021-11-22 17:03] joeyates commented on #76
In debug mode, imap-backup now outputs all data exchanged with the IMAP server (version >= 3.4.1).

If anyone who is having this error could paste a **redacted** version of the log where the error happens, it may help track down the problem.

[2021-11-29 00:32] vielhuber commented on #107
Thank you very much, this works very well and the concept I think is quite flexible.
Perhaps you could consider adding it into core.

Just one enhancement for the above script (I needed this):

Line 7:
Before: ```gem "imap-backup", git: "https://github.com/joeyates/imap-backup"```
After: ```gem "imap-backup", git: "https://github.com/joeyates/imap-backup", branch: "main"```

[2021-12-06 17:26] #99 closed

[2021-12-06 17:27] #101 closed

[2021-12-06 17:31] joeyates commented on #93
@DunklerPhoenix imap-backup >= 4 with debugging enabled now outputs shows the full calls and responses between the library and the IMAP server. If you are able to use that to capture the exact content of emails that fail with this error, that would be very useful.

[2021-12-07 14:50] jdhorne commented on #76
I've attached a redacted log.

[imap-backup-log.txt](https://github.com/joeyates/imap-backup/files/7669180/imap-backup-log.txt)

[2021-12-14 16:03] joeyates commented on #99
@psy-q @alpham8 The latest imap-backup (v4.0.2) includes an **experimental** export-to-thunderbird command.

[2021-12-15 10:57] alpham8 commented on #99
Thank you very much @joeyates @psy-q for that great support, love to hear that <3

[2021-12-17 15:01] joeyates commented on #76
The iCloud IMAP server responds differently (I believe what it does is non-standard). I've added a workaround, so that @icloud.com, @mac.com and @me.com accounts get treated specially.

I've released this as version 4.0.3.

[2021-12-17 15:03] joeyates commented on #78
@nicholashead @daniel-rikowski I've relased version 4.0.3 which no longer tries to do any permissions management on Windows. The permissions are simply inherited from the user's home directory, which by default is accessible by the user and admins.

[2021-12-17 15:03] #78 closed

[2021-12-20 17:27] DunklerPhoenix commented on #93
I thought I answered :D I'll wrote: "I'll take a look. Just have much to do atm".

Anyway. Today I looked over it and the broken email still showing up:
[code]

[2021-12-20 17:45] DunklerPhoenix commented on #95
I didn't see this error again. Seems to be ok. If now I scream here a litte bit :P

[2021-12-20 17:45] #95 closed

[2021-12-21 15:38] nicholashead commented on #78
@joeyates thank you! Can confirm it works great.

[2021-12-27 23:22] vielhuber commented on #107
Since branch v4.0.7 (and even v4.0.6) I get an error running the above script:

[code]

[2021-12-31 09:11] joeyates commented on #107
Hi @vielhuber

The code around Configurations and Accounts has changed over the last few versions.

The functionality you need should be available now via the `ignore-history` command:

[code]

[2022-01-01 21:11] vielhuber commented on #107
Awesome, seems to work.

One note after the last update to 4.0.7:

I get this notice when running any command:

[code]

[2022-01-03 20:33] vielhuber commented on #107
Unfortunately, it does not work: It just creates an empty folder but without any mbox files in it.

[code]

I get a warning (but this should have nothing to do with the problem, since I'm getting this warning on every call:

[code]

I also updated to ruby 3.0.0.

Do you have any suggestions?

[2022-01-05 19:02] joeyates commented on #107
Hi @vielhuber

I've pushed a bugfix for your ignore-history problem as version 4.1.1

From a quick search, I think the `DidYouMean::SPELL_CHECKERS.merge!(error_name => spell_checker)` warning relates to a [problem with Bundler](https://github.com/rubygems/rubygems/issues/5234).

[2022-01-05 19:02] #107 closed

[2022-01-05 19:03] #76 closed

[2022-01-05 19:05] joeyates commented on #93
I have been unable to reproduce this issue. I suspect it happens only with certain IMAP server implementations and with certain character encodings. Closing for now.

[2022-01-05 19:05] #93 closed

[2022-01-05 22:15] vielhuber commented on #107
Thank you very much. 4.1.1 works without any problems and also without the SPELL_CHECKERS warning.

[2022-01-06 23:30] vielhuber opened #108 "v.4.1.1 throws errors"
ruby -v

[code]

imap-backup status

[code]

[2022-01-07 17:21] joeyates commented on #108
Hi @vielhuber

I pushed a fix for this: version 4.1.2

[2022-01-09 00:16] tinyapps opened #109 "Replacing ">From" as email separator with RFC 4155 standard?"
Thanks so much for crafting imap-backup and especially for the [recent iCloud fix](https://github.com/joeyates/imap-backup/issues/76#issuecomment-996788191).

When saving messages, the [RFC 4155 standard](https://datatracker.ietf.org/doc/html/rfc4155) [mentioned by the Postsack developer](https://github.com/terhechte/postsack/issues/19) may be worth considering as the message delineator rather tha

[2022-01-09 09:35] joeyates commented on #108
Hi @vielhuber

I pushed a fix for this: version 4.1.2

[2022-01-09 09:35] #108 closed

[2022-01-09 10:24] joeyates commented on #109
Hi @tinyapps

Thanks for your kind words.

I think there may be some confusion as to what imap-backup is writing to disk. The intention is to follow the 'mboxrd' standard.

The best source for the mboxrd standard seems to be this page: https://web.archive.org/web/20201231011750/https://jdebp.eu/FGA/mail-mbox-formats.html

What follows is a description of the process and its motivation.

### From_

[2022-01-09 19:28] tinyapps commented on #109
Thanks so much for your patient response, @joeyates.

One of the main drawbacks of mboxrd/delineating messages with ">From" is that the sender will not appear in at least some mail clients after importing from an mbox generated by imap-backup; in Thunderbird, such messages do not display the "From" field when opened, while in Mail.app, the From field displays "No Sender".

Removing the leading ang

[2022-01-10 14:24] joeyates commented on #109
Hi @tinyapps

I've changed the Thunderbird export in line with your suggestions.

While imap-backup's own format remains the same (mboxrd), during export to Thunderbird, '>' prefixes are removed from header and body lines starting 'From '.

Now, Thunderbird should correctly recognize the 'From' header.

I've released it as version 4.2.0.

[2022-01-10 18:40] tinyapps commented on #109
Thanks so much for the fast update, @joeyates. Just tested the Thunderbird export feature in 4.2.0 (importing into Thunderbird 91.4.1) and senders appeared correctly. Do you accept by donations, and if so, how best to send?

[2022-01-11 09:40] joeyates commented on #109
Good to hear that's sorted out.

I've been thinking about donations, and now that [DHH has come out against them](https://world.hey.com/dhh/i-won-t-let-you-pay-me-for-my-open-source-d7cf4568), I think I'll definitely sort something out to start taking them :)

[2022-01-11 09:40] #109 closed

[2022-01-24 15:23] slhck commented on #87
I would add that in terms of UX it might even be better to have the exclude option, since whitelabeling means you have to remember which labels you want backed up. Say you add a label in the future, do you always remember to update your imap-backup config accordingly? I probably would forget it.

That said I know it's a larger feature.

[2022-01-24 17:15] slhck opened #110 "How does this work with duplicate email under different labels?"
This is more of a question. I use Gmail, and most if not all my email is labeled. However, the special `[Gmail]/All Mail` folder will also contain all of those emails. At least when I browse it, I can see all labeled messages.

What will this tool download? Will it download each unique email, thus leading to essentially creating two copies of each email (the one in All Mail, and the one under its

[2022-01-24 21:25] acavalin commented on #87
Sure, here it is:

[code]

take a look at line 16, there you can use a series of grep_v  instead of reject, or insert inside the reject as many conditions as you want.

[2022-01-25 08:22] slhck opened #111 "undefined method `username' when running "folders" command"
I am running into an error with the `folders` subcommand:

[code]

This is using Ruby 3.0.1 via rbenv under Ubuntu 20.04.

My config looks like this:

[code]

This is a bit weird since Account definitely has `attr_reader` for the attribute set.

[2022-01-25 08:57] joeyates commented on #111
Hi @slhck, thanks for opening the issue.

I've fixed the problem and released version 4.2.1

This slipped through the net of the recent rewrite of account handling :(

[2022-01-25 08:57] #111 closed

[2022-01-25 10:19] slhck commented on #111
I see you added a spec now too :) Thanks for the quick fix!

[2022-01-25 22:33] mtruem opened #112 "undefined method `size' for nil:NilClass (NoMethodError)"
Hi!

While testing your amazing tool it occasionally crashes while syncing my Gmail account with the following stack trace. Hope this is helpful.

[code]

Thanks again for providing this tool!

[2022-01-31 13:00] #112 closed

[2022-01-31 13:03] joeyates commented on #112
I've added a check for incomplete responses, in which case the email is skipped temporarily. In theory, future runs will get a complete response and manage to back up the email.

[2022-01-31 13:05] joeyates commented on #87
Having blacklists seems like an interesting thing to handle. I'll reopen to track this while we look into the matter.

[2022-01-31 13:09] joeyates commented on #110
Hi @slhck

imap-backup downloads in terms of IMAP *folders* and ignores *labels*.

Duplicate emails in different folders will get downloaded multiple times. I think the idea of folder blacklists (in #87) may be the best way to only back up what you need.

[2022-01-31 13:29] slhck commented on #110
I see, thanks for clarifying! In that case there may be some duplicates (e.g., think a message labeled as `invoices` and `family`), but that's probably not a huge practical issue. So I'll close this for now.

There might be a possibility to de-dupe based on a database of Message-IDs: if a message has already been downloaded, it will simply be referenced by its ID. That however requires setting up

[2022-01-31 13:29] #110 closed

[2022-02-03 18:08] ojoeth opened #113 "Error while trying to restore emails"
I am trying to use this tool to switch main providers ([docker-mailserver](https://github.com/docker-mailserver/docker-mailserver) to [Hetzner](https://www.hetzner.com/webhosting).)

I backed up my mail, changed the server in the server settings and tried to restore, but I got this response:

/usr/lib/ruby/2.7.0/net/imap.rb:1221:in `get_tagged_response': Client tried to access nonexistent namespac

[2022-02-03 18:19] joeyates commented on #113
Hi @ojoeth

I'll check this asap. In the meantime, please turn on debug logging (via the first menu of the `imap-backup setup` utility) and retry. That should give me the info I need to fix this quickly. Remember to check any log you paste for sensitive info.

[2022-02-03 20:09] ojoeth commented on #113
[code]

[2022-02-06 16:12] joeyates commented on #113
Thanks @ojoeth

Your issue was timely as I have just completed implementing the `imap-backup migrate` command. It's released with version '5.0.0'.

As the requirements of a restore a different from a migration, I have opted for a separate command.

In the case of Hetzner, you'll need to indicate that the '--destination-prefix' is "INBOX.", e.g.:

[code]

[2022-02-06 20:01] ojoeth commented on #113
Awesome, thanks!

[2022-02-06 20:01] #113 closed

[2022-02-12 12:19] galmok opened #114 "Emails restored as unread"
I am testing imap-backup and when I mark an email as read, make an imap-backup, delete the email, and make an imap-restore, then email is restored, but is now marked as unread.

Can the read/unread status also be backed up and restored somehow?

[2022-02-12 16:35] joeyates commented on #114
Hi @galmok thanks for the question.

Currently, `imap-backup` does not save this info in the backup.

Theoretically, imap-backup could save message metadata (like the read/unread status) in its '.imap' files. It sounds like an interesting idea, but it would make backwards compatibility with older backups a bit complicated.

As always, PRs are welcome! :)

[2022-02-12 19:30] galmok commented on #114
Too bad this isn't there yet. I feel this really needs to be there to make imap-backup truly useful. Regarding backwards compatibility, can't the imap file have this information as an optimal field with default values in the code or taken from the config file? It would make imap-backup more useful to make a seamless transition from one host to the next.

I don't know the imam protocol nor the lang

[2022-02-17 11:52] joeyates commented on #88
Reopening this in the hope of attracting comment on this.

# Why?

The advantage of adopting the XDG spec is that imap-backup would not "pollute" the user's home directory with it's `.imap-backup` directory.

# Is XDG Relevant to imap-backup?

XDG stands for "X Desktop Group", which is the former name of [freedesktop.org](https://en.wikipedia.org/wiki/Freedesktop.org). The specs they produce relat

[2022-02-24 08:41] damnms opened #115 "restore fails"
hi, i created a backup for multiple inboxes and tried to restore now one of them, but that failed:

[code]

[2022-02-24 08:52] joeyates commented on #115
Hi @damnms

Thanks for reporting the issue. This is an issue with compatibility with the server - imap-backup currently assumes it can create mailboxes with "." in the name, which is true of most, but not all mail servers.

I'll have a look asap.

[2022-02-24 08:55] damnms commented on #115
you are right, just tried to create that folder on the server and got the same error, so its a problem with netcup

[2022-02-24 09:02] joeyates commented on #115
Hi @damnms
Actually, imap-backup should be able to handle this! I'm going to look at a fix, so I'll repoen :)

[2022-02-24 09:55] damnms opened #116 "imap-backup creates IMAP.$numbers.imap file"
i guess i messed up a bit of the backup and let the backup run twice so imap-backup created
INBOX.249872498.imap and .mbox (the numbers are different)

I let imap-backup restore run but it did not restore the INBOX, so i renamed INBOX.$numbers to INBOX.imap and .mbox, but still, the restore does not upload the emails and it creates again the INBOX.$numbers.mbox /.imap
any idea?

[2022-02-24 10:06] damnms commented on #116
guess i found the problem

S: RUBY0039 OK Search completed (0.001 + 0.020 secs).
D, [2022-02-24T11:05:29.757609 #24926] DEBUG -- : There's already a 'INBOX' folder with emails
C: RUBY0040 EXAMINE INBOX
S: * OK [CLOSED] Previous mailbox closed.
S: * FLAGS (\Answered \Flagged \Deleted \Seen \Draft)
S: * OK [PERMANENTFLAGS ()] Read-only mailbox.
S: * 2 EXISTS
S: * 0 RECENT
S: * OK [UNSEEN 1] First un

[2022-02-24 10:07] damnms commented on #116
now it works :)

[2022-02-24 10:08] joeyates commented on #116
Hi @damnms

What you're seeing here is the intended behaviour (see below), unfortunately, as per (#115) things will to continue to fail in your case.

The renaming happens because there is a mismatch between the servers identifier for the folder (the "uid_validity") and the value that imap-backup recorded when the backup was run. This behaviour is necessary in order to avoid overwriting stuff when

[2022-02-24 10:09] joeyates commented on #115
I've release version 5.2.0 which no longer uses '.' when renaming folders when it sees conflicts with the server.

Let me know if it fixes the problem.

[2022-03-04 11:17] #115 closed

[2022-03-04 22:42] garethrees commented on #88
Seems sensible to me.

It would be great to be able to point to a custom config location via an option:

[code]

I've just picked this tool up, and I was kinda surprised that the backups weren't created in the current working directory.

[code]

For users running via a scheduler (cron/systemd/LaunchAgent/etc), I'd expect to add a `path` key in `config.json`

---

A little more about my use case. I

[2022-03-17 10:54] kisst opened #117 "Connection reset by peer"
I get the bellow error over and over again, but if I start it again it works fine.
[code]

[2022-03-23 18:24] salemgolemugoo commented on #113
@joeyates I have the same issue with porkbun.com. I've backed up my old imap email to my local drive, now after changing dns records to pork bun I'm trying to restore this local backup to the new mail server. Migrate command is not what I want in this case

[2022-03-23 20:22] salemgolemugoo commented on #113
I prefixed all .mbox and .imap folders in ~/.imap-backup/mail_box_name/ to INBOX. and it works!

[2022-03-23 20:25] joeyates commented on #113
Hi @salemgolemugoo,

Could you explain why the migrate command does not do what you need? Thanks!

[2022-03-23 20:39] joeyates commented on #117
Hi @kisst

Thanks for opening the issue.

I have created the branch 'feature/handle-conn-reset-errors-on-fetch' which should handle this error. If possible, could you try it out? I will include it in the forthcoming release (version 6.0.0), but that may take a while.

[2022-03-24 12:35] kisst commented on #117
I'm pretty much ruby virgin, installed with simple `gem install` if you can at least point me to the relevant how-to, then more then happy to test it.

[2022-03-24 13:10] joeyates commented on #117
@kisst, try this:

[code]

You may not need the `sudo` on that `gem install` - it depends on how you installed Ruby.

Let me know how it goes.

[2022-03-25 12:42] kisst commented on #117
Thanks that was more detailed and precise then expected, easy to follow and yes I needed `sudo` for both the 1st command (uninstall) and the last (install) again.

Here is the next error:
[code]

And again running `imap-backup` one more time , will reconnect just fine, although, I'm starting to have a feeling that it's not related, because after processing some, it hangs again, seemingly at the sa

[2022-03-28 09:53] kisst commented on #117
Can't really explain it but... what I observed is: If I leave the config for `folders` empty and let it do all, then it stuck on it, but if I set the folder to one which it stuck on without `folders` config section, then the replication works just fine.

Something like this:
1) without folders config, run backup,  then stuck on X
2) same config restart, stuck same folder X again, and again
3) Set

[2022-03-29 14:50] kisst commented on #117
Is there any way to get more debug info out of the tool, I got one last folder where even the trick above does not work.

[2022-04-05 12:30] joeyates commented on #117
Hi @kisst

I've added the error you're seeing (`IOError`) to the list of the ones that are handled.

If you go back to your clone of the imap-backup code and do a `git pull`, followed by a reinstall (as per instructions above), things may progress a bit.

Let me know if things improve.

[2022-04-19 13:56] GadgetComa opened #118 "Backup marks message in mailbox as read"
Sorry if I'm missing something here. I searched a lot to see if I overlooked the answer..

imap-backup works well for me (thank you!) except all unread messages in my mailbox get marked as read when the backup runs. Is this expected or is there a config option I'm missing? I'm backing up two iCloud mail accounts.

Thanks!

[2022-04-22 09:18] joeyates commented on #118
Hi @GadgetComa

That's odd.

When imap-backup, unread messages **should** remain flagged as unread. That's certainly the case for the GMail and the other providers I use.

Please re-check that you can replicate this with iCloud. If so, I will activate an iCloud account and see if I can replicate myself.

[2022-04-22 10:33] GadgetComa commented on #118
Thanks for the reply. I see this happen every day on two different iCloud accounts. Is there some debug information I can provide to assist in troubleshooting?  Also, if it helps, I can set up a gmail account to test and see if it’s specific to iCloud or something in my environment.

[2022-04-22 12:05] GadgetComa commented on #118
It does appear to be iCloud-specific. I just did a backup of a Gmail account using the exact same setup I use for iCloud and the messages are left as unread.

[2022-05-21 08:37] joeyates commented on #118
I have now reproduced this on an iCloud account. As this behaviour is limited to iCloud, and the calls made by imap-backup should not change the status of the 'SEEN' flag, I think we can consider this an iCloud bug.

[2022-05-25 13:13] alexg-k opened #119 "Encoding error when trying to backup"
Hello everyone,

I get the following error when trying to run `imap-backup`. Is this a bug?

I am running a docker container with: [ruby:slim-bullseye](https://github.com/docker-library/ruby/blob/6a100006eeb52ec06bfe3f318b401cdf5a52dd6b/3.1/slim-bullseye/Dockerfile) as the image. Installation and setup worked as expected.

[code]

[2022-05-27 09:30] joeyates commented on #119
Hi @alexg-k

Thanks for the bug report. I think this error is caused by a non-standard server, rather than by an imap-backup bug, see below...

The backup is failing when trying to convert the mailbox name "Entwürfe" to utf7 encoding.

This mailbox name has just been received from the IMAP server. The IMAP command is `LIST "" "*"`

The [standard](https://datatracker.ietf.org/doc/html/rfc3501#secti

[2022-05-27 11:29] svetzal opened #120 "When restoring, error exit when local backup contains a message reported by server as TOOBIG"
Everything was working great for me until this - I have a bunch of mailboxes to move off Google and onto iCloud this weekend.

The message is persistent, it simply gets to this message in the backup data and bails every time, which blocks the rest of the restore.

[code]

I'm looking at `uploader.rb` line 24, and might just set it inside a rescue block and find a way to collect UIDs that didn't up

[2022-05-27 15:18] joeyates commented on #120
Hi @svetzal

Thanks for opening the issue.

I think this could be handled in a similar way to download errors:

1. a `retry_on_error(errors: [Net::IMAP::BadResponseError])` in the `append` function in `folder.rb`, returning `nil` if the call fails a couple of times,
2. logging of any failed appends in the `upload_message` function in `upload.rb`.

[2022-05-27 16:31] svetzal commented on #120
I think the TOOBIG message is probably an example where a retry would not be appropriate, if I get no other errors I'll see if I can nicely express a way to do retries around anything else. I'm awaiting a restore of about 45,000 messages right now.

Thanks for the direction. I have a dirty hack in right now in my fork, just to see what kinds of errors I might see, but I'll work on some kind of PR

[2022-05-27 19:59] alexg-k commented on #119
Good catch! One small deviation from your simulated case is that the original error contains two back slashes..
Maybe add a something like a `{}.force_encoding("UTF-7)` function to catch the exception and make the encoding more robust? Sorry I can not contribute as this is my first contact with ruby.

Let me know if I can provide any additional data.

[2022-05-28 07:12] joeyates commented on #120
In imap-backup, exceptions are only distinguished by their class. Basing behaviour on the message attribute containing "TOOBIG" would be out of keeping with the rest of the application.

I would handle it this way:

A single generic retry for `Net::IMAP::BadResponseError` handles **other** types of failures caused by transitory problems, but also handles "TOOBIG", which of course is not transitory

[2022-05-28 08:05] joeyates commented on #119
Hi,

The bytes received "over the wire" would seem to be the problem, rather than Ruby's attribution of an encoding. As encodings are basically string metadata, applying one or another won't change the bytes in the string, it will just change how the byte sequence is interpreted.

In this case, we are receiving the (decimal) byte sequence `[195, 188]` (which is UTF-8 for "ü"). But, in the context

[2022-05-28 13:17] svetzal commented on #120
Hmm, it's been a few years since I was doing ruby full-time :) but I have something _I'm_ reasonably happy with - just seeing how it works in practice.

I realize this is a lot like coding by remote control, but given the above guidance, what kind of testing would you like to see on this? I'm snooping around but coming up dry on sad-path checks like what I'm thinking.

Thanks for indulging me, I'm

[2022-05-30 13:47] #120 closed

[2022-06-09 08:38] graphcon opened #122 "Characters issue on Windows with path and passwords (incl. workaround)"
### Description

If I want to modify backup path under Windows, I have to double backslashes.

### Steps to reproduce
1. In account menu, type 3 (modify backup path)
2. Copy and paste backup path from Explorer, e.g. d:\backup\imap-backup\xxx\
3. Hit enter
4. See path be like: dackupimap-backupxxxfolders
5. Type 3 again
6. Modify path to double backslashes: d:\\backup\\imap-backup\\xxx\\
7. Hit ent

[2022-07-04 07:44] joeyates commented on #122
Hi @graphcon, thanks for opening the issue.

I've release version 6.0.0 with a fix for this.

The problem with '\' in paths should now be resolved, please try it out and let me know.

That said, I have been unable to replicate the problem with passwords. If you continue to see the problem, please open a specific issue, thanks!

[2022-07-04 07:44] #122 closed

[2022-07-07 08:22] joeyates commented on #118
Hi @darkfence thanks for the extra info.

Could you run a quick check for me? Please mark some emails as unread and then re-run imap-backup.
Do the emails get marked as read immediately?

[2022-07-07 08:30] darkfence commented on #118
Yes, as soon as the backup starts, unread messages are marked as read.

[2022-07-07 11:57] joeyates commented on #118
I've now reproduced this behaviour  on an iCloud account.
Next step is to create a purelymail.com to reproduce it there too.
GMail (and most other providers) do not behave this way.

The "philosophical" question, I suppose, is whether IMAP servers *should* mark emails as read when their content is accessed in any way (as iCloud seems to do), or whether they should expect clients to set the 'Seen'

[2022-07-07 13:34] joeyates commented on #118
@GadgetComa I've created a branch with a fix for iCloud: `feature/debug-emails-being-marked-as-read`

If you have a change to try it out, that would be very helpful.

You can install it as follows:

[code]

@darkfence As soon as I've had a chance to try this out with purelymail.com, I'll let you know!

[2022-07-07 14:44] joeyates commented on #118
Hi @darkfence

I've added the workaround for purelymail.com clients too. If you have a moment please try it out (see comment above).

[2022-07-07 23:23] blakegonzales opened #123 "Maximum number of IMAP connections exceeded"
I've successfully been using imap-backup for a couple years now. Thank you!

Today I ran across this issue in the log after traversing about 75% of my imap folders on the server.

Is there a way to limit the number of connections imap-backup creates as it runs?

Thanks,
Blake

[2022-07-08 10:34] joeyates commented on #118
@darkfence Which domain are you using for your purelymail account?

[2022-07-08 11:11] darkfence commented on #118
My own domain. Maybe that's the reason...

[2022-07-08 11:13] joeyates commented on #118
OK, I'll need to add a configuration option to handle this case.

[2022-07-08 11:40] joeyates commented on #123
Hi @blakegonzales thanks for opening the issue.

I've created a fix that should reduce the number of connections to the server.

If you can try it out, please do the following:

[code]

[2022-07-08 15:41] itsrob opened #124 "`Message too large` -> option to skip"
Hey @joeyates, thanks so much for this great piece of software, this is really saving me!

I have one issue which is blocking me right now: I am migrating from a different email provider to Gmail and Gmail is rejecting an email for a too big attachment (I think):

[code]

Is there anyway to tell imap-backup to skip this email and continue or just skip any failing email? (I guess maybe something th

[2022-07-08 16:07] blakegonzales commented on #123
That worked!  I appreciate your support here :)

[2022-07-11 15:44] joeyates commented on #123
This fix is in the 6.0.1 release.

[2022-07-11 15:44] #123 closed

[2022-07-11 15:56] joeyates commented on #124
Hi @itsrob

I've created a branch with a fix.
If you have a chance to check it out, please do the following:

[code]

[2022-07-12 13:11] joeyates commented on #124
I've released the fix in version 6.2.0

[2022-07-12 13:11] #124 closed

[2022-07-12 13:31] #119 closed

[2022-07-13 09:01] MatejKovacic opened #125 "How to select all folders?"
Hi, when I choose the account and then choose backup folders, there is a list of almost 400 folders (yes, I know). Is it possible to select them all?

[2022-07-19 20:19] itsrob commented on #124
Thank you very much! That worked!

[2022-08-17 18:06] dlaporte opened #126 "`local_path': undefined method `gsub' for nil:NilClass (NoMethodError)"
Hello,

I have installed imap-backup on both a Ubuntu and MacOS system (using homebrew) and receive the following error when running "imap-backup setup" immediately after entering an email address.  Versions of Ruby on each system are:

$ ruby -v
ruby 2.6.8p205 (2021-07-07 revision 67951) [universal.arm64e-darwin21]

and

$ ruby -v
ruby 2.7.0p0 (2019-12-25 revision 647ee6f091) [x86_64-linux-gnu]

[2022-08-17 18:10] joeyates commented on #126
Hi David,

I'll have a look asap.

On Wed, 17 Aug 2022, 19:06 David LaPorte, ***@***.***> wrote:

[2022-08-25 15:13] DocCyblade commented on #126
I have gotten the same issue on Debian Bullseye (5.10.0-14-amd64)
[code]

[2022-08-25 15:30] DocCyblade commented on #126
An update, I tried to install diff version of the gem and found that the error starts at version 6.1.0, using anything before that I do not get that error

[2022-08-25 16:20] DocCyblade opened #127 "Question: Local messages not on remote"
Nice little gem here, was wondering is there an option to purge local messages that are not on the remote but our on the local? Example, I remove delete 100 messages, still shows on local. Is there a purge local command

[2022-08-26 16:18] jaccorens commented on #126
I can confirm that the issue is not present in version 6.0.1 (gem install 'imap-backup' -v 6.0.1), but is present in 6.1.0 and 6.2.1

[code]

[2022-08-26 16:19] dlaporte commented on #126
I can also confirm

From: Jacco Rens ***@***.***>
Date: Friday, August 26, 2022 at 12:18
To: joeyates/imap-backup ***@***.***>
Cc: David LaPorte ***@***.***>, Author ***@***.***>
Subject: Re: [joeyates/imap-backup] `local_path': undefined method `gsub' for nil:NilClass (NoMethodError) (Issue #126)

I can confirm that the issue is not present in version 6.0.1 (gem install 'imap-backup' -v 6.0.1), b

[2022-08-27 12:40] joeyates commented on #126
Thank you all for your reports.

I've pushed the fix for this as version 6.3.0.

[2022-08-28 12:59] #126 closed

[2022-08-28 13:13] joeyates commented on #127
Hi @DocCyblade

What you're after is on the roadmap as the `imap-backup mirror` command.

The basic imap-backup functionality is greedy: it keeps all the messages it can, whether or not they are still available on the server.

The upcoming `imap-backup mirror` command will duplicate state between 2 IMAP servers or between a source server and disk. So it will prune messages as and when they disappe

[2022-09-08 13:19] notflip opened #128 "Verbose? Status?"
So the command to actually start backing up, once everything is configured is `imap-backup backup`, I see that options can be added after the command but I can't seem to find what those options are?

**Is it possible to have output be shown in the console? Is there a verbose command?**

[2022-09-09 18:04] metanodotto opened #129 "Error Restoring"
I've backed up my email address "my@email.com" on the old imap server and I'd like to restore it to the new server.

As you wrote in readme I did this:

1. did a new setup and created new email with the new server connection
2. created the folder to match the new email but without run the backup
3. copied the inbox.mbox and inbox.imap to the folder of the new mail
4. run the restore with this comm

[2022-09-11 11:12] joeyates commented on #128
Hi @notflip

You can get verbose output by activating the logging option via `imap-backup setup`.

I've [added a note](https://github.com/joeyates/imap-backup/blob/main/docs/commands/setup.md#logging) in the docs.

[2022-09-11 11:12] #128 closed

[2022-09-11 11:14] joeyates commented on #129
Hi @metanodotto

Please try the [migrate](https://github.com/joeyates/imap-backup/blob/main/docs/commands/migrate.md) command, which allows you to specify IMAP namespaces ('prefixes') when moving from one service to another.

[2022-09-11 12:06] metanodotto commented on #129
hi @joeyates

The old imap is closed. All I have is a local backup done with your imap-backup.

the new one is not empty anymore because it has received mail in the past 4 days.

So I read in the help that migrate command (if I correctly understood) works with 2 active accounts (that I don't have) and that it stops with error if destination is not empty (my destination is not empty and I have to k

[2022-09-11 18:53] notflip commented on #128
Great! Thanks a lot for your work

Miguel Stevens

https://miguelstevens.be

0483 02 99 47

---- On Sun, 11 Sep 2022 13:12:52 +0200 Joe Yates ***@***.***> wrote ---

Hi https://github.com/notflip

You can get verbose output by activating the logging option via imap-backup setup.

I've https://github.com/joeyates/imap-backup/blob/main/docs/commands/setup.md#logging in the docs.

—
Reply to this ema

[2022-09-11 21:18] jacobrharris opened #130 "Feature request: Logging levels"
I need some amount of logging, but `"debug": true` is a bit of a firehose and seems to be the only option. Any plans for supporting more logging levels or some other way of tuning how much gets printed?

[2022-09-12 12:26] joeyates commented on #130
Hi @jacobrharris

Switching to comand-line switch controlled verbosity levels is second on the road map - after the addition of the mirror command! Watch this space :)

[2022-09-13 18:28] iMichka opened #131 "Is version 7.0.0 an official release?"
Hi. Homebrew maintainer here.

We noticed that the 7.0.0 tag was pushed, but no release published on GitHub.
In general this is a sign that this is a pre-release and should not be used / the tag might still move.

We would like to confirm this with you before shipping 7.0.0 to our users.

See for reference: https://github.com/Homebrew/homebrew-core/pull/109531

[2022-09-14 09:40] joeyates commented on #131
Hi @iMichka

You are correct: 7.0.0 should **not** be shipped to Hoomebrew users yet.

I now realize that pushing tags can have this outcome, so in future I'll avoid pushing them until the moment of release!

[2022-09-14 09:43] iMichka commented on #131
Thanks, no issue. What you could to is tag it with "7.0.0-rc1" or "7.0.0-beta" (or something similar). The tag can later be dropped if you wish, or kept for historical reasons. We will not ship the update until a proper release has been created on your side.

[2022-09-14 09:43] #131 closed

[2022-09-16 13:07] joeyates commented on #127
@DocCyblade I've just releasse version 7.0.1 which includes the new 'mirror' command. Let me know if you have a chance to try it out!

[2022-09-16 13:07] #127 closed

[2022-09-16 13:08] joeyates commented on #114
Hi @galmok

I've just released version 7.0.1 which backs up and restores email flags.

[2022-09-16 13:08] #114 closed

[2022-09-16 13:09] joeyates commented on #125
Hi @MatejKovacic

Sorry for not getting back to you sooner.

The default behaviour of imap-backup is to backup all folders, so you don't need to do anything to get your desired result.

[2022-09-16 13:09] #125 closed

[2022-09-16 13:10] joeyates commented on #129
@metanodotto Any progress on this?

[2022-09-17 16:36] joeyates commented on #130
@jacobrharris

I've just release version 7.0.2 with comand-line-controllable logging levels.

The default logging level is now 'info' instead of 'error', so you get some output when running backups.
The `--verbose` flag turns on debugging output, while the `--quiet` flag stops all output.

[2022-09-17 16:36] #130 closed

[2022-09-18 12:54] bdynamic opened #132 "Documentation insufficient"
The Link mentioned on this page is dead:
https://github.com/joeyates/imap-backup/blob/main/docs/configuration.md

Unfortunately it is unclear how to config a server for usage of  STARTTLS on Port 143. Default seems to be SSL/TLS on port 993.

Thanks for the support and for this project
Birk

[2022-09-19 11:37] joeyates commented on #132
I've corrected the link, thanks.

The page https://github.com/joeyates/imap-backup/blob/main/docs/configuration.md now has a link to the [Ruby Standard Library documentation for the configuration that can be set](https://ruby-doc.org/stdlib-3.1.2/libdoc/net-imap/rdoc/Net/IMAP.html#method-c-new).

[2022-09-19 11:37] #132 closed

[2022-09-19 14:07] #129 closed

[2022-09-20 14:24] joeyates commented on #88
I've just released imap-backup version 8.0.0.rc1. It has configurable location for the configuration file, via the `--config PATH` parameter.

[2022-09-24 13:41] #88 closed

[2022-09-24 13:53] joeyates commented on #87
I've just released version 8.0.0.

In the new release, folders can be backlisted or whitelisted.
You can opt to choose folders to **exclude** from backups, as against the default behaviour where you choose folders to **include**.

[2022-09-24 13:53] #87 closed

[2022-09-24 14:25] tezakaftor opened #133 "Problems with migrate and restore"
Hi!
I'm trying imap-backup and I'm not able to restore or migrate mails from an account to a new test account on my mail server (cpanel). I'm just getting the error message shown below:

`W, [2022-09-24T16:21:44.608884 #2338822]  WARN -- : [INBOX] uid: 341 (1/3) - append error: Error in IMAP command APPEND: Invalid system flag \$NOTJUNK (0.001 + 0.003 + 0.002 secs).
W, [2022-09-24T16:21:44.625444

[2022-09-24 15:08] joeyates commented on #133
Hi @tezakaftor

I've just released version 8.0.1 with a fix for this.

[2022-09-24 15:08] #133 closed

[2022-10-07 16:19] attie-argentum opened #134 "[O365] Connection fails with "no response""
I've been using this to backup emails from `outlook.office365.com` for some time (thanks, great project!)

Unfortunately, a while ago, it started failing - looking in to it now, I run the `setup` subcommand, select the account, and use the "_test connection_" action... after a second or so it responds as follows:

[code]

Attempting to run a backup produces the following output:

[code]

I have up

[2022-10-08 12:44] joeyates commented on #134
Hi @attie-argentum

# imap-backup Checks

Please try running setup in verbose mode:

[code]

Then, go to your account and do 2 things:

1. Check the value of `server`, (I think in your case this should be `outlook.office365.com`),
2. Try `5. test connection` again, and see if the debug output helps.

# outlook.office365.com Checks

This articles indicates a series of possible problems and solution

[2022-10-10 11:10] attie-argentum commented on #134
Good idea - I didn't think for a `--verbose` flag...

I now get the following, so I think this probably isn't an issue with `imap-backup`?

[code]

Did you mean to include a link? I've had a read around, and I suspect this may be out of my control...

[2022-10-10 12:50] joeyates commented on #134
You're right, I didn't include the link. I've edited the comment. The link is https://support.microsoft.com/en-us/office/pop-imap-and-smtp-settings-for-outlook-com-d088b986-291d-42b8-9564-9c414e2aa040

[2022-10-10 20:37] attie-argentum commented on #134
I think I'll close this, as I'm pretty confident it's actually an issue with Microsoft... thanks for the input!

[2022-10-11 07:42] joeyates commented on #125
Hello,

The default behaviour is to backup all folders, so you don't need to select
them all.

On Wed, 13 Jul 2022, 11:01 Matej Kovacic, ***@***.***> wrote:

[2022-10-19 01:58] everyx opened #135 "Question: Can imap-backup delete mails on server which already backed up locally?"
Hi, thanks for you great work, and I want backup emails to my local PC, and delete this emails from remote server. It is used to ensure that my email account is never full (this account is only used for backup, so there is this need). Can imap-backup do this?

[2022-10-20 09:07] joeyates commented on #135
Hi @everyx

I feel that deleting emails from the server is beyond the scope of imap-backup.

Firstly, it would be hard to ensure that it only deleted emails that you'd actually seen.

Secondly, most email clients have a way of bulk deleting emails, which can even be automated.

For these reasons, I don't think this is a feature which is right for the project.

[2022-10-24 11:17] bentolor opened #136 ""imap-backup local show" leads to "/bin/sh: 1: /usr/local/bin/imap-backup: not found" in v8.0.1"
Hi & thanks for this great tool helping me to backup my emails locally. I just upgraded and therefore needed to tweak & toy around (upgrading / reinstalling gems, etc.).

Everything seems to work now, except a minor error message I receive on `local show`. Other command work w/o any error/warning message.

[code]

Any idea what's wrong?

I'm on v.8.0.1 install via `gem` and my executable looks lik

[2022-10-24 21:57] vielhuber commented on #134
Authentication with IMAP is not anymore possible with basic password auth.

Information:
- https://techcommunity.microsoft.com/t5/exchange-team-blog/basic-authentication-deprecation-in-exchange-online-september/ba-p/3609437
- https://www.codewrecks.com/post/security/accessing-office-365-imap-with-oauth2/

Are you planning to integrate oauth2 into imap-backup?

Otherwise backuping office 365 / exch

[2022-10-25 10:24] joeyates commented on #136
Hi @bentolor

Is this still happening?
I'm not able to reproduce.

Does `which imap-backup` give you the path you expect?

[2022-10-25 10:28] joeyates commented on #134
Hi @vielhuber

It's a shame Office 365 is removing basic authentication. Implementing OAuth2 involves a **lot** of work. `imap-backup` previously had OAuth2 fro GMail, but I removed it as they are still supporting basic auth.

A PR would be welcome, but it would need to be well tested and documented.

[2022-10-25 14:31] bentolor commented on #136
Hi @joeyates !

1. Yes I can reproduce this stable
2. Yes, `which imap-backup` is pointing to the ruby script quoted above

I just tried a different mail ID, and it seems it is message specific?! So with a different message ID I do not receive the error?!

Here a redacted, but mostly fully quoted version of that specific email as per `imap-backup local show ....`:

Fun-fact: It's the email from CR

[2022-10-25 14:39] bentolor commented on #136
Oh my dear. I'm stupid.

The message itself is content of the email itself. My bad. Sorry for wasting your time. Gnargh....

[2022-10-25 14:39] #136 closed

[2022-10-25 21:18] vielhuber commented on #134
You're right, perhaps a tool like https://emailengine.app/ could be an answer to this problem, but I didn't find any open source tool that does this.

On the other hand if you have successfully generated an access token (instead of a password), the implementation should be easy.

The steps I would see are:
- Complex documentation for the user, so that he can generate client_id, tenant_id, client_s

[2022-11-02 11:33] vielhuber commented on #134
I've come to the conclusion that https://github.com/simonrob/email-oauth2-proxy is a very attractive solution to this problem.
I will test this out in future days, how it works together with imap-backup and post an update here.

[2022-11-06 01:14] vielhuber commented on #134
I've successfully started the proxy and am trying now to connect via imap-backup:

config.json
[code]

However, I get:

[code]

I think this is totally unencrypted, is this possible with imap-backup at all to connect to a local proxy?

[2022-11-08 21:37] vielhuber commented on #134
Got it running when setting up an encrypted proxy.
Seems that imap-backup does not support unencrypted connections.

[2022-11-13 15:16] joeyates commented on #134
Hi @vielhuber

imap-backup defaults to activating ssl when connecting.

Please try setting this to `false` in the account's connection_options:

    connections options (as JSON): {"ssl": false}